<script>
	module.exports = {
		name: 'v-settings',

		require: [
			'v-action-list',
			'v-scrollable',
			'v-panel',
			'v-page'
		],

		children: {
			system: [
				{ link: '/settings/performance' },
				{ link: '/settings/security' },
			],

			dictionaries: [
				{ link: '/settings/currencies' },
				{ link: '/settings/locations' },
				{ link: '/settings/languages' }
			]
		},

		layout: {
			description: true
		}
	};
</script>
<template>
	<v-page class="navigation">
		<v-scrollable policy="vertical">
			<v-panel label="Система">
				<v-action-list
						v-bind:items="$options.children.system"
						v-bind:layout="$options.layout">
				</v-action-list>
			</v-panel>
			<v-panel label="Справочники">
				<v-action-list
						v-bind:items="$options.children.dictionaries"
						v-bind:layout="$options.layout">
				</v-action-list>
			</v-panel>
		</v-scrollable>
	</v-page>
</template>
