$jeet-gutter:           3      !default;
$jeet-parent-first:     false  !default;
$jeet-layout-direction: "LTR"  !default;
$jeet-max-width:        1410px !default;

// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: $sizeValue;
	font-size: ($sizeValue / 10px) * 1rem;
}

@mixin cf() {
	@include clearfix();
}

/// Clearfix
@mixin clearfix() {
	*zoom: 1;
	&:before,
	&:after {
		content: "";
		display: table;
		table-layout: fixed;
	}
	&:after {
		clear: both;
	}
}

/// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	border-radius: $radius;
	background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

/// Hardware acceleration 
@mixin hardware($backface: true, $perspective: 1000) {
		@if $backface {
				backface-visibility: hidden;
		}
		perspective: $perspective;
}

$breakpoints: (
	"s-mobile":		320px,
	"m-mobile":		480px,
	"l-mobile":		600px,
	"p-tablet":		768px,
	"l-tablet":		1024px,
	"laptop":		1280px,
	"desktop":		1824px
);
///
///	Media Queries and to add more sizes include it in list
/// Type, only and for is optional and defaults to min for a mobile first approach
///
/// example @include media-q(laptop, max, true, all) { width: 100%; }
/// output: @media only all and (max-width: 1099px) { .test { width: 100%; } }
///
/// example of undefined size, only and for @include media-q(1100px) { width: 100%; }
/// output: @media only screen and (min-width: 1100px) { .test { width: 100%; } }
///
@mixin media-q($width, $type: min, $only: true, $for: screen) {
	@if map_has_key($breakpoints, $width) {
		$width: map_get($breakpoints, $width);
		@if $type == min {
				$width: $width - 1px;
		}
		@if $only == true {
			$only: only;
		}
		@if $only == false {
			$only: null;
		}
		@if $breakpoints != "l-tablet" or $breakpoints != "p-tablet" {
			@media #{$only} #{$for} and (#{$type}-width: $width) {
					@content;
			}	
		}
		@if $breakpoints == "l-tablet" or $breakpoints == "p-tablet" {
			@if $breakpoints == "l-tablet" {
				@media #{$only} #{$for} and (min-device-width: 768px) and (max-device-width: $width) and (orientation: landscape) {
					@content;
				}
			} @else {
				@media #{$only} #{$for} and (min-device-width: $width) and (max-device-width: 1024px) and (orientation: portrait) {
					@content;
				}
			}
		}
	}
	@else {
		@if $type == min {
				$width: $width - 1px;
		}
		@if $only == true {
			$only: only;
		}
		@if $only == false {
			$only: null;
		}
		@if $breakpoints != "l-tablet" or $breakpoints != "p-tablet" {
			@media #{$only} #{$for} and (#{$type}-width: $width) {
					@content;
			}	
		}
		@if $breakpoints == "l-tablet" or $breakpoints == "p-tablet" {
			@if $breakpoints == "l-tablet" {
				@media #{$only} #{$for} and (min-device-width: 768px) and (max-device-width: $width) and (orientation: landscape) {
					@content;
				}
			} @else {
				@media #{$only} #{$for} and (min-device-width: $width) and (max-device-width: 1024px) and (orientation: portrait) {
					@content;
				}
			}
		}
	}
}

//flexbox
@mixin flex() {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -ms-flex;
	display: flex;
}

@mixin box-sizing($box) {
	-webkit-box-sizing: $box;
	-moz-box-sizing: $box;
	-ms-box-sizing: $box;
	box-sizing: $box;
}


/// Single side border-radius
@mixin border-top-radius($radius) {
	background-clip: padding-box;
	-webkit-border-top-left-radius: $radius;
			border-top-left-radius: $radius;
	-webkit-border-top-right-radius: $radius;
			border-top-right-radius: $radius;
}
@mixin border-right-radius($radius) {
	background-clip: padding-box;
	-webkit-border-top-right-radius: $radius;
			border-top-right-radius: $radius;
	-webkit-border-bottom-right-radius: $radius;
			border-bottom-right-radius: $radius;
}
@mixin border-bottom-radius($radius) {
	background-clip: padding-box;
	-webkit-border-bottom-left-radius: $radius;
			border-bottom-left-radius: $radius;
	-webkit-border-bottom-right-radius: $radius;
			border-bottom-right-radius: $radius;
}
@mixin border-left-radius($radius) {
	background-clip: padding-box;
	-webkit-border-top-left-radius: $radius;
			border-top-left-radius: $radius;
	-webkit-border-bottom-left-radius: $radius;
			border-bottom-left-radius: $radius;
}

/// Viewport sized typography with minimum and maximum values
///
/// @param {Number}   $responsive  - Viewport-based size (vw/vh)
/// @param {Number}   $min         - Minimum font size (px)
///
/// @param {Number}   $max         - Maximum font size (px)(optional)
///
/// @param {Number}   $fallback    - Fallback for viewport - based units (optional)
///
///
/// @example to get the following result - 5vw font size (with 50px fallback), minumum of 35px and maximum of 150px
///
/// .test {
///		@include responsive-font(5vw, 35px, 150px, 50px);
/// }
///
/// Which results as the following in CSS
/// .test {
///   font-size: 50px;
///   font-size: 5vw;
/// }
/// 
/// @media (max-width: 700px) {
///   .test {
///     font-size: 35px;
///   }
/// }
/// 
/// @media (min-width: 3000px) {
///   .test {
///     font-size: 150px;
///   }
/// }

@mixin responsive-font($responsive, $min, $max: false, $fallback: false, $l-height: false, $lh-min: false, $lh-max: false, $lh-fallback: false) {
	$responsive-unitless: $responsive / ($responsive - $responsive + 1);
	$dimension: if(unit($responsive) == 'vh', 'height', 'width');
	$min-breakpoint: $min / $responsive-unitless * 100;
	
	@media (max-#{$dimension}: #{$min-breakpoint}) {
		font-size: $min;
		@if $lh-min == false {
			line-height: 1.2;
		}
	}
	@if $max {
		$max-breakpoint: $max / $responsive-unitless * 100;
		
		@media (min-#{$dimension}: #{$max-breakpoint}) {
			font-size: $max;
		}
	}
	@if $fallback {
		font-size: $fallback;
	}
	font-size: $responsive;
	
	@if $lh-min {
		$responsive-unitless-lh: $l-height / ($l-height - $l-height + 1);
		$dimension-lh: if(unit($l-height) == 'vh', 'height', 'width');
		$min-breakpoint-lh: $lh-min / $responsive-unitless-lh * 100;
		@media (max-#{$dimension-lh}: #{$min-breakpoint-lh}) {
			line-height: $lh-min;
		}
	}
	@if $lh-max {
		$responsive-unitless-lh: $l-height / ($l-height - $l-height + 1);
		$dimension-lh: if(unit($l-height) == 'vh', 'height', 'width');
		$max-breakpoint-lh: $lh-max / $responsive-unitless-lh * 100;
		@media (min-#{$dimension-lh}: #{$max-breakpoint-lh}) {
			line-height: $lh-max;
		}
	}
	@if $lh-fallback {
		line-height: $lh-fallback;
	}

	@if $l-height {
		line-height: $l-height;
	}
}

/// Linear Gradient 
@mixin background-gradient($start-color, $end-color, $orientation) {
		background: $start-color;

		@if $orientation == 'vertical' {
			background: -webkit-linear-gradient(top, $start-color, $end-color);
			background: linear-gradient(to bottom, $start-color, $end-color);
		} @else if $orientation == 'horizontal' {
			background: -webkit-linear-gradient(left, $start-color, $end-color);
			background: linear-gradient(to right, $start-color, $end-color);
		} @else {
			background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
			background: radial-gradient(ellipse at center, $start-color, $end-color);
		}
}
/// defaults is row
@mixin flex-direction($value: row) {
	@if $value == row-reverse {
		-webkit-box-direction: reverse;
		-webkit-box-orient: horizontal;
	} @else if $value == column {
		-webkit-box-direction: normal;
		-webkit-box-orient: vertical;
	} @else if $value == column-reverse {
		-webkit-box-direction: reverse;
		-webkit-box-orient: vertical;
	} @else {
		-webkit-box-direction: normal;
		-webkit-box-orient: horizontal;
	}
	-webkit-flex-direction: $value;
	-moz-flex-direction: $value;
	-ms-flex-direction: $value;
	flex-direction: $value;
}
/// Keyframes animation / example
///
/// @include keyframes(example-animation){
///		from {opacity: 0;}
///		to   {opacity: 1;}
///	}
/// 
@mixin keyframes($animation-name) {
	@-webkit-keyframes #{$animation-name} {
			@content;
	}
	@-moz-keyframes #{$animation-name} {
			@content;
	}  
	@-ms-keyframes #{$animation-name} {
			@content;
	}
	@-o-keyframes #{$animation-name} {
			@content;
	}  
	@keyframes #{$animation-name} {
			@content;
	}
}
@mixin animation($str) {
	-webkit-animation: #{$str};
	-moz-animation: #{$str};
	-ms-animation: #{$str};
	-o-animation: #{$str};
	animation: #{$str};      
}

/// Adds a thin black line above the element, and a thin gray line below the element, creating an inlay effect.
/// @access public
/// @example scss - Usage
///   .foo {
///     @include outline;
///   }
/// @example css - Result
///   .foo {
///     box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0, inset rgba(0, 0, 0, 0.75) 0 1px 0;
///   }
@mixin outline {
		box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0, inset rgba(0, 0, 0, 0.75) 0 1px 0;
}

/// Cross-browser opacity / e.g. @include opacity(0.8);
@mixin opacity($opacity) {
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
	filter: alpha(opacity=$opacity-ie); //IE8
}

/// Stack items 
@mixin stack($pad: 0, $align: false) {
	$side: _get-layout-direction();
	$opposite-side: _opposite-direction($side);

	display: block;
	clear: both;
	float: none;
	width: 100%;
	margin: {
		left:  auto;
		right: auto;
	};

	&:first-child {
		margin-#{$side}: auto;
	}

	&:last-child {
		margin-#{$opposite-side}: auto;
	}

	@if $pad != 0 {
		padding: {
			left:  $pad;
			right: $pad;
		}
	}

	@if ($align is not false) {
		@if index("center" "c", $align) {
			text-align: center;
		} @else if index("left" "l", $align) {
			text-align: left;
		} @else if index("right" "r", $align) {
			text-align: right;
		}
	}
}

/// Center element and add a max width
@mixin center($max-width: $jeet-max-width, $pad: 0) {
	@include clearfix;
	width: auto;
	max-width: $max-width;
	float: none;
	display: block;
	margin: {
		right: auto;
		left:  auto;
	};
	padding: {
		left:  $pad;
		right: $pad;
	};
}

/// Center block without max width
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/// Uncenter the element
@mixin uncenter() {
	max-width: none;
	margin-right: 0;
	margin-left: 0;
	padding-left: 0;
	padding-right: 0;
}

/// String Replace

@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

/// String Contains 
@function ends-with($string, $find) {
  @if (str-slice($string, (str-length($string) - str-length($find) + 1)) == $find) {
    @return true;
  } @else {
    @return false;
  }
}

/// Font Face

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}