<script>
	module.exports = {
		name: 'v-education-preliminary-details',

		require: [
			'v-page'
		],

		actions: [
			{
				label: 'Сохранить',
				icon: 'check',
			}, {
				label: 'Закрыть',
				icon: 'times'
			}
		],

		fields: {}
	};
</script>
<template>
	<v-page class="leaf" v-bind:actions="$options.actions">
		<v-form class="container-fluid">
			<v-hidden name="id"></v-hidden>
		</v-form>
	</v-page>
</template>
