<script>
	module.exports = {
		name: 'v-settings-location-details',

		require: [
			'v-page'
		],

		actions: [
			{
				label: 'Сохранить',
				icon: 'check',
			}, {
				label: 'Закрыть',
				icon: 'times'
			}
		],

		fields: {
			name: {
				name: 'name',
				label: 'Название',
				class: 'col-xs-12',
				required: true,
				placeholder: 'Не указано'
			},

			type: {
				name: 'type',
				class: ['col-xs-12', 'col-md-4'],
				label: 'Тип',
				required: true,
				placeholder: 'Не выбран'
			},

			externalId: {
				name: 'externalId',
				label: 'Код КЛАДР',
				class: ['col-xs-12', 'col-md-4'],
				maxLength: 17,
				placeholder: '##.###.###.###.##',
				pattern: '^\\d{2}\\.\\d{3}\\.\\d{3}\\.\\d{3}\\.\\d{2}$',

				constraints: {
					blocks: [2, 3, 3, 3, 2],
					delimiter: '.',
					numericOnly: true
				}
			},

			zipCode: {
				name: 'zipCode',
				label: 'Индекс',
				class: ['col-xs-12', 'col-md-4'],
				type: 'zip'
			}
		}
	};
</script>
<template>
	<v-page class="leaf" v-bind:actions="$options.actions">
		<v-form class="container-fluid">
			<div class="row">
				<v-input v-bind="$options.fields.name"></v-input>
			</div>
			<div class="row">
				<v-select v-bind="$options.fields.type"></v-select>
				<v-input v-bind="$options.fields.externalId"></v-input>
				<v-input v-bind="$options.fields.zipCode"></v-input>
			</div>
		</v-form>
	</v-page>
</template>
