div.select {
	position: relative;
	border: 1px solid #ffffff;
}
div.select:hover {
	border-color: #c0c0c0;
}
div.select:hover a.action.toggle {
	border-color: #c0c0c0;
}
div.select.open {
	border-color: #a0a0a0;
	background-color: #f8f8f8;
}
div.select select {
	display: none;
}
div.select a {
	display: block;
	text-decoration: none;
	color: #000000;
}
div.select div.field {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}
div.select a.action {
	display: inline-block;
}
div.select a.action.toggle {
	flex: 0 0 auto;
	border-left: 1px solid #ffffff;
	padding: 0.25rem 0.5rem;
	line-height: 150%;
}
div.select a.action.remove {
	margin-left: 0.5em;
}
div.select a.action.remove:hover {
	color: #ffffff;
}
div.select div.placeholder {
	flex: 1 1 auto;
	padding: 0.25rem 0 0.25rem 0.75rem;
	color: #b0b0b0;
	line-height: 150%;
}
div.select div.placeholder a.action.add {
	background-color: lightsteelblue;
	border-radius: 0.25rem;
	padding: 0.25rem 0.5rem;
	margin: 0 0.25rem 0.25rem 0;
	cursor: default;
	line-height: 100%;
	font-size: 10pt;
}
div.select div.dropdown {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	margin: 1px 0 0 -1px;
    padding: 0.25rem 0;
	background-color: #f0f0f0;
	border-style: solid;
	border-color: #a0a0a0;
	border-width: 0 1px 1px 1px;
}
div.select div.dropdown a.action.add {
	display: block;
	padding: 0.25rem 1rem 0.25rem 1rem;
}
div.select div.dropdown a.action.add:hover {
	background-color: #c0c0c0;
}
div.select div.dropdown a.action.remove {
	display: none;
}

.flex-box {
	display: flex;
	align-items: stretch;
}
.flex-cbox {
	display: flex;
	align-items: center;
}
.flex-column {
	flex-direction: column;
}
.flex-row {
	display: flex;
	flex-direction: row;
}
.flex-shrink {
	flex: 0 0 auto;
}
.flex-grow {
	flex: 1 1 auto;
}

.splitter {
    content: "-";
    position: absolute;
    right: -1px;
    top: 0;
    width: 3px;
    height: 100%;
    font-size: 0;
    background-color: transparent;
    z-index: 5000;
}
.splitter:hover {
    background-color: #606060;
}
.splitter i {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 8pt;
    color: #808080;
    background-color: #f8f8f8;
    border-color: #606060;
    border-style: solid;
    padding: 0.5em 0.5em;
    z-index: 1000;
}
.splitter:hover i {
	display: block;
}
.splitter i.fa-chevron-left {
    right: 0;
    border-width: 1px 3px 1px 1px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.splitter i.fa-chevron-right {
    left: 0;
    border-width: 1px 1px 1px 3px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

body > header {
	border-bottom: 1px solid #000000;
	padding: 1rem 1.75rem 1rem 1rem;
	background-color: #303030;
	color: #ffffff;
	justify-content: space-between;
}
body > header a {
	color: #ffffff;
	text-decoration: none;
}
body > header h1 {
	margin: 0;
	font-size: 14pt;
}
body > header menu {
	margin: 0;
	list-style-type: none;
}

aside {
	display: block;
	position: relative;
	width: 20em;
	max-width: 20em;
	background-color: #f0f0f0;
	border-right: 1px solid #c0c0c0;
	z-index: 0;
}
aside,
aside *,
#page-nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#login-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	max-width: 30rem;
	margin: 0 auto;
}
#login {
	border: 1px solid #e0e0e0;
	padding: 1.5rem;
}
#login-container .row {
	display: flex;
	align-items: stretch;
}
#login .field {
	flex: 1 1 auto;
}
#login .action {
	display: inline-block;
	color: #404040;
	border-radius: 0.5rem;
	padding: 0.375rem 0.75rem;
	text-decoration: underline;
	margin: 0.5rem 0.5rem 0 0;
	flex: 0 0 auto;
	line-height: 150%;
}
#login .action:hover {
	background-color: #404040;
	color: #ffffff;
}
