#main-menu {
	overflow-x: hidden;
}

#main-menu a {
	display: block;
	text-decoration: none;
	color: #000000;
	padding: 0.75rem 1rem;
	font-weight: bold;
	white-space: nowrap;
	height: 1rem;
	margin-top: -1px;
}
#main-menu a:hover {
	background-color: #c0c0c0;
}
#main-menu a i.fa {
	display: inline-block;
	width: 1.25em;
	text-align: center;
	margin-right: 0.5em;
}

#main-menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
}
#main-menu ul:last-child ul {
	border-bottom: none;
}
#main-menu ul li ul {
	display: none;
	padding: 0.5rem 0;
	background-color: #e0e0e0;
	font-size: 11pt;
}
#main-menu ul li.open ul {
	display: block;
}
#main-menu ul li ul a {
	padding: 0.5rem 2rem;
	font-weight: normal;
}
#main-menu ul li ul li.active a {
	background-color: #404040;
	color: #ffffff;
}
