#page-nav {
	flex: 0 0 auto;
    position: relative;
	min-width: 20rem;
	max-width: 20rem;
    z-index: 0;
}

#page-nav-header {
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
    margin-right: -1px;
    background-color: #f8f8f0;
    border-bottom: 1px solid #e0e0e0;
}
#page-nav-header header {
    padding: 0 0 0 1.125rem;
}
#page-nav-header menu,
#page-body-content header > menu {
    margin-right: 0.5rem;
}
#page-nav-header menu > a,
#page-body-content header > menu > a {
	padding: 0.25em 0;
	border: 1px solid transparent;
	border-radius: 50%;
	text-align: center;
}
#page-nav-header menu a > i,
#page-body-content header > menu > a > i {
	width: 1.75em;
}

#page-nav-content {
    padding: 0.25rem 0 0.25rem 0;
    overflow-y: scroll;
    height: 100%;
    margin-right: -1px;
}

#page-nav-content ul {
    margin: 0;
	padding: 0;
	list-style-type: none;
}
#page-nav-content li > ul {
	display: none;
}
#page-nav-content li.open > ul {
	display: block;
}

#page-nav-content ul li > div {
    padding: 0.5em 1em 0.5em 0.75em;
}
#page-nav-content ul li li > div {
    padding: 0.5em 1em 0.5em 2.5em;
}
#page-nav-content ul li li li > div {
    padding: 0.5em 1em 0.5em 4.25em;
}
#page-nav-content ul li li li li > div {
    padding: 0.5em 1em 0.5em 6em;
}
#page-nav-content ul li li li li li > div {
    padding: 0.5em 1em 0.5em 7.75em;
}

#page-nav-content li > div {
	position: relative;
	white-space: nowrap;
	text-overflow: ellipsis;
    border-style: solid;
    border-width: 1px 0;
    border-color: transparent;
    margin: -1px 0;
    z-index: 1000;
}
#page-nav-content li > div:hover {
	background-color: #f0f0f0;
	cursor: pointer;
    border-color: #e0e0e0;
}
#page-nav-content li > div:hover > span.actions {
	display: block;
}

#page-nav-content li > div a {
	display: inline-block;
    text-decoration: none;
    vertical-align: top;
}

#page-nav-content li > div > a.handle {
	color: #000000;
	width: 1.75rem;
    height: 1rem;
    margin-top: 1px;
	text-align: center;
}

#page-nav-content li > div > a.nav-item:first-child {
	margin-left: 0.5rem;
}
#page-nav-content li > div > a.nav-item > span.title {
	color: #0000e0;
}
#page-nav-content li > div > a.nav-item > span.info {
    color: #808080;
}
#page-nav-content li > div > a.nav-item > div.descr {
	display: block;
	margin: 0.25rem 0 0 0;
	color: #808080;
	max-height: 2.5em;
	overflow-y: hidden;
	font-size: 10pt;
	line-height: 125%;
	white-space: normal;
}

#page-nav-content li > div > span.actions {
	display: none;
	position: absolute;
	top: 0;
    right: 0;
    height: 1rem;
    padding: 0.5rem 0.75rem;
    background-color: #f0f0f0;
}
#page-nav-content li > div > span.actions > a.nav-action {
    margin: -0.25rem 0 0 0;
    padding: 0.25rem;
    text-align: center;
    vertical-align: middle;
    font-size: 0;
    color: #c0c0c0;
}
#page-nav-content li > div > span.actions > a.nav-action i {
    display: inline-block;
    font-size: 1rem;
    width: 1rem;
    height: 1rem;
}
#page-nav-content li > div > span.actions > a.nav-action:first-child {
    margin-left: 0;
}
#page-nav-content li > div > span.actions > a.nav-action:hover {
    border-radius: 50%;
    background-color: #808080;
    color: #ffffff;
}
#page-nav-content li > div > span.actions > a.nav-action.reorder i {
    margin-top: -2px;
}
#page-nav-content li > div > span.actions > a.nav-action.reorder:hover {
    background-color: transparent;
    color: #606060;
    border-radius: 0;
}

#page-nav-filters {
	display: none;
	margin: 0 0.75rem 0.75rem 0.75rem;
}
#page-nav-filters.open {
	display: block;
}
#page-nav-filters,
#page-nav-filters input {
    font-size: 10pt;
}

#page-nav-filters fieldset {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin: 0;
	padding: 0;
	border: 0;
}
#page-nav-filters legend {
	margin: 0 0 0.5rem 0.25rem;
}

#page-nav-filters label,
#page-nav-filters input[type=text],
#page-nav-filters input[type=search] {
	display: block;
	margin: 0;
	width: 100%;
}
#page-nav-filters datalist {
	display: none;
}
