a.action.disabled:hover {
    background-color: transparent;
    color: #c0c0c0;
}
a.action.disabled {
    color: #c0c0c0;
    cursor: default;
}

a.action.icon-sm {
    display: inline-block;
    font-size: 0;
    margin: 0 0 0 -0.25rem;
    padding: 0.25rem;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    color: #404040;
}
a.action.icon-sm > i {
    font-size: 0.9rem;
    display: inline-block;
    width: 0.9rem;
    height: 0.9rem;
}
a.action.icon-sm:hover {
    background-color: #808080;
    color: #ffffff;
}

#page-nav,
#page-body {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.page-content {
	flex: 1 1 auto;
	font-size: 11pt;
}

.page-header header,
.section-header header {
	flex: 0 0 auto;
    display: flex;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
}
.page-header h2 {
    margin: 0;
	font-size: 1rem;
	white-space: nowrap;
    display: block;
    flex: 1 1 auto;
	padding: 0;
    overflow-x: hidden;
}
.page-header h2 > i {
    margin-right: 0.75rem;
}
.page-header menu,
.section-header menu {
    display: block;
    flex: 0 0 auto;
    margin: 0;
    padding: 0;
    font-size: 0;
}
.page-header menu > a,
.section-header menu > a {
    display: inline-block;
    position: relative;
    font-size: 11pt;
    color: #000000;
    text-decoration: none;
}
.page-header menu a:hover,
.section-header menu a:hover {
    background-color: #606060;
    color: #ffffff;
}

.section-header menu {
	display: none;
}
.section.open .section-header menu {
	display: block;
}
