#page-body {
	width: 100%;
	flex-direction: column;
}

#page-body-header {
    position: relative;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-width: 0 0 1px 1px;
    border-left-color:#f8f8f0;
    border-bottom-color:  #e0e0e0;
    background-color: #f0f8fc;
	cursor: default;
	user-select: none;
	-webkit-user-select: none;
}
#page-body-header:before {
    display: block;
    position: absolute;
    content: " ";
    font-size: 0;
    top: 0;
    left: 1px;
    height: 1px;
    z-index: 1000;
    width: 0;
	border-top: 1.25rem solid transparent;
	border-bottom: 1.25rem solid transparent;
  	border-left: 1rem solid #d0d0d0;
}
#page-body-header:after {
    display: block;
    position: absolute;
    content: " ";
    font-size: 0;
    top: 0;
    left: 0;
    height: 1px;
    z-index: 1000;
    width: 0;
	border-top: 1.25rem solid transparent;
	border-bottom: 1.25rem solid transparent;
  	border-left: 1rem solid #f8f8f0;
}
#page-body-header header {
    padding: 0 0 0 2rem;
}
#page-body-header menu {
    border-left: 1px solid #e0e0e0;
    padding: 0 1rem;
}
#page-body-header menu a {
    padding: 0.25rem 0.75rem;
}
#page-body-header menu a:hover {
    border-radius: 1rem;
}
#page-body-header menu i {
    margin-right: 0.375rem;
}

#login-error,
#page-body-info {
    display: flex;
    align-items: center;
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background-color: #ffffe0;
    padding: 0 1rem 0 2rem;
    overflow: hidden;
    font-size: 11pt;
    color: #663399;
    cursor: default;
	user-select: none;
	-webkit-user-select: none;
}
#login-error {
	border-right: 1px solid #e0e0e0;
}
#login-error.hide,
#page-body-info.hide {
   display: none !important;
}
#login-error a,
#login-error i,
#login-error span,
#page-body-info a,
#page-body-info i,
#page-body-info span {
    font-size: 11pt;
}
#login-error > i,
#page-body-info > i {
    margin-right: 0.75rem;
    flex: 0 0 0;
}
#login-error > span,
#page-body-info > span {
    margin: 0.625rem 0;
    flex: 1 1 auto;
}
#login-error > a.action,
#page-body-info > a.action {
    display: block;
    flex: 0 0 auto;
    border: 1px solid transparent;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    color: #404040;
}
#page-body-info > a.action:hover {
    border-color: #d0d0d0;
    background-color: #f8f8f8;
}
#page-body-info.success {
	color: #336600;
}
#login-error,
#page-body-info.error {
	color: #993300;
}

#page-body-content {
	flex: 1 1 auto;
    height: 100%;
    overflow-y: scroll;
    border-left: 1px solid #e0e0e0;
    margin-left: 1px;
    padding-bottom: 3rem;
}

#page-body-content header {
	display: flex;
	align-items: center;
	background-color: #f0f8f8;
	border-bottom: 1px solid #e0e0e0;
	padding: 0 1.25rem 0 2rem;
}
#page-body-content section.open + section header {
	border-top: 1px solid #e0e0e0;
}
#page-body-content section:first-of-type header {
	border-top: none;
}
#page-body-content header > a {
	color: #000000;
	text-decoration: none;
}
#page-body-content header > a > i {
	margin-right: 0.75em;
}
#page-body-content header > h3 {
	flex: 1 1 100%;
	margin: 0;
	padding: 0.625rem 0 0.625rem 0;
	font-size: 11pt;
}
#page-body-content header > menu {
	margin: 0;
}

#page-body-content .section-body {
	display: none;
	padding: 0.25rem 1.25rem 1.25rem 3rem;
}
#page-body-content section.open div.section-body {
	display: block;
}
#page-body-content section.open table.section-body {
	display: table;
}

#page-body-content table {
	width: 100%;
	border-collapse: collapse;
}
#page-body-content thead {
	background-color: #f0f8f0;
}
#page-body-content td, th {
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: #e0e0e0;
	text-align: left;
	padding: 0.5rem 1rem;
	vertical-align: top;
}
#page-body-content th:first-child,
#page-body-content td:first-child {
	padding-left: 3.5rem;
}
#page-body-content th:last-child,
#page-body-content td:last-child {
	padding-right: 1.75rem;
	border-right-width: 0;
}
#page-body-content td {
	border-bottom-color: transparent;
}
#page-body-content td.empty {
	text-align: center;
	vertical-align: middle;
	height: 7em;
	padding: 0 1rem;
	color: #808080;
}
#page-body-content tr:last-child td {
	border-bottom: 1px solid #e0e0e0;
}

.section-toolbar {
	display: none;
	border-bottom: 1px solid #e0e0e0;
	background-color: #ffffe0;
	padding: 0 1.75rem 0 3.5rem;
}
.section-toolbar.open {
	display: block;
}
.section-toolbar form {
	padding-bottom: 0.5rem;
}
.section-toolbar input.text {
	background-color: white;
	border: 1px solid #e0e0e0;
}
