<script>
	module.exports = {
		name: 'v-settings-currency-details',

		require: [
			'v-page'
		],

		actions: [
			{
				label: 'Сохранить',
				icon: 'check',
			}, {
				label: 'Закрыть',
				icon: 'times'
			}
		],

		fields: {
			name: {
				name: 'name',
				label: 'Название',
				class: 'col-xs-6',
				placeholder: 'Не указано',
				required: true
			},

			priority: {
				name: 'priority',
				label: 'Приоритет',
				class: 'col-xs-3',
				pattern: '^\\d{5}$',
				placeholder: '#####',
				maxLength: 5,

				constraints: {
					numeral: true,
					numeralIntegerScale: 5,
					numeralDecimalScale: 0,
					numeralPositiveOnly: true,
					delimiter: "",
					stripLeadingZeroes: false
				}
			},

			icon: {
				name: 'icon',
				label: 'Иконка',
				class: 'col-xs-3',
				placeholder: 'Нет'
			},

			isoAlpha: {
				name: 'isoAlpha',
				label: 'Буквенный код ISO',
				class: 'col-xs-4',
				required: true,
				pattern: '^[a-zA-Z]{3}$',
				placeholder: 'XXX',
				maxLength: 3,

				constraints: {
					blocks: [3],
					uppercase: true
				}
			},

			isoNumeric: {
				name: 'isoNumeric',
				label: 'Цифровой код ISO',
				class: 'col-xs-4',
				required: true,
				pattern: '^\\d{3}$',
				placeholder: '###',
				maxLength: 3,

				constraints: {
					numeral: true,
					numeralIntegerScale: 3,
					numeralDecimalScale: 0,
					numeralPositiveOnly: true,
					delimiter: "",
					stripLeadingZeroes: false
				}
			},

			precision: {
				name: 'precision',
				label: 'Точность',
				class: 'col-xs-4',
				required: true,
				pattern: '^\\d+$',
				placeholder: '#',
				maxLength: 2,

				constraints: {
					numeral: true,
					numeralIntegerScale: 2,
					numeralDecimalScale: 0,
					numeralPositiveOnly: true,
					stripLeadingZeroes: true
				}
			}
		}
	};
</script>
<template>
	<v-page class="leaf" v-bind:actions="$options.actions">
		<v-form class="container-fluid">
			<v-hidden name="id"></v-hidden>

			<div class="row">
				<v-input v-bind="$options.fields.name"></v-input>
				<v-input v-bind="$options.fields.priority"></v-input>
				<v-input v-bind="$options.fields.icon"></v-input>
			</div>
			<div class="row">
				<v-input v-bind="$options.fields.isoAlpha"></v-input>
				<v-input v-bind="$options.fields.isoNumeric"></v-input>
				<v-input v-bind="$options.fields.precision"></v-input>
			</div>
		</v-form>
	</v-page>
</template>
