<script>
	module.exports = {
		name: 'v-settings-currencies',

		require: [
			'v-page'
		],

		actions: [
			{
				link: '/settings/currencies/new',
				label: 'Создать',
				icon: 'plus-circle'
			}
		]
	};
</script>
<template>
	<v-page v-bind:actions="$options.actions">
	</v-page>
</template>
