<script>
	module.exports = {
		name: 'v-education',

		require: [
			'v-spacer',
			'v-action-list',
			'v-scrollable',
			'v-panel',
			'v-page'
		],

		children: {
			default: [
				{ link: '/education/courses' },
				{ link: '/education/additional' },
				{ link: '/education/preliminary' }
			],

			providers: [
				{ link: '/education/universities' },
				{ link: '/education/employers' },
				{ link: '/education/persons' }
			],

			dictionaries: [
				{ link: '/education/professions' },
				{ link: '/education/specializations' }
			]
		}
	}
</script>
<template>
	<v-page class="navigation">
		<v-scrollable policy="vertical">
			<v-action-list v-bind:items="$options.children.default">
			</v-action-list>

			<v-spacer></v-spacer>

			<v-panel label="Провайдеры">
				<v-action-list
						v-bind:items="$options.children.providers">
				</v-action-list>
			</v-panel>

			<v-spacer></v-spacer>

			<v-panel label="Справочники">
				<v-action-list
						v-bind:items="$options.children.dictionaries">
				</v-action-list>
			</v-panel>
		</v-scrollable>
	</v-page>
</template>
