<script>
	module.exports = {
		name: 'v-layout',

		require: [
			'v-action-list',
			'v-drawer'
		],

		data() {
			return {};
		},

		pages: [
			{ link: '/' },
			{ link: '/content' },
			{ link: '/events' },
			{ link: '/education' },
			{ link: '/advertising' },
			{ link: '/users' },
			{ link: '/settings' },
			{ link: '/statistics' }
		],

		commands: [
			{
				icon: 'user-circle',
				label: 'Alice',
				description: 'Profile',
				link: '/profile',
				component: '/pages/profile.vue'
			}, {
				icon: 'bell',
				description: 'Notifications',
				link: '/notifications'
			}, {
				icon: 'cog',
				description: 'Preferences',
				link: '/preferences',
				component: '/pages/preferences.vue'
			}, {
				icon: 'question-circle',
				description: 'Help',
				link: '/help',
				component: '/pages/help.vue'
			}, {
				icon: 'sign-out',
				description: 'Sign out',
				link: '/sign-out'
			}
		]
	};
</script>
<template>
	<div id="root">
		<v-drawer
				v-bind:label="$root.title"
				v-bind:items="$options.pages">
		</v-drawer>
		<div class="control title-bar"></div>
		<v-action-list
				class="command-bar"
				v-bind:items="$options.commands">
		</v-action-list>
		<div class="view">
			<router-view></router-view>
		</div>
	</div>
</template>
