<script>
	module.exports = {
		name: 'v-page',

		require: [
			'v-component',
			'v-header'
		],

		extends: 'v-component',

		mixins: [
			Mixin.Label,
			Mixin.Icon,
			Mixin.ActionList
		],

		computed: {
			$archetype() {
				return this.$data._route.meta;
			},

			_class() {
				return 'level-' + this._level;
			},

			_level() {
				return this.$data._route.matched.length;
			}
		},

		data() {
			return {
				_route: this.$route,
			};
		}
	};
</script>
<template>
	<div class="control page" v-bind:class="_class">
		<v-header
				v-bind:icon="_icon"
				v-bind:label="_label"
				v-bind:actions="actions">
		</v-header>
		<div class="content">
			<slot></slot>
		</div>
		<router-view></router-view>
	</div>
</template>
