/**
 * Global configuration
 */

:root {
	--font-family: system-ui;

	--light-font-weight: 300;
	--normal-font-weight: 400;
	--bold-font-weight: 700;

	--small-font-size: small;
	--medium-font-size: medium;
	--large-font-size: large;

	--icon-width: 1.25em;
	--icon-margin: 0.625em;
	--icon-font-size: 1em;

	--title-bar-height: 2.5em;
	--title-bar-font-size: larger;
	--title-bar-font-weight: var(--normal-font-weight);

	--layout-border-width: 1px;
	--layout-border-style: solid;
	--layout-border-color: #e0e0e0;
	--layout-border:
			var(--layout-border-width)
			var(--layout-border-style)
			var(--layout-border-color);
}

/**
 * Generic components configuration
 */

.action {
	--description-color: #808080;
	--description-font-size: smaller;
}

.page {
	--header-height: var(--title-bar-height);
	--header-border-color: #e0e0e0;
	--header-border-style: var(--layout-border-style);
	--header-border-width: var(--layout-border-width);
	--header-border:
			var(--header-border-width)
			var(--header-border-style)
			var(--header-border-color);
	--header-font-size: var(--title-bar-font-size);
	--header-font-weight: var(--title-bar-font-weight);
}

.panel {
	--header-height: var(--title-bar-height);
	--header-font-size: var(--large-font-size);
	--header-font-weight: var(--title-bar-font-weight);
}

/**
 * Root layout configuration
 */

#root > .drawer {
	--foreground-color: #ffffff;

	--header-height: var(--title-bar-height);
	--header-border-color: #404040;
	--header-border-style: var(--layout-border-style);
	--header-border-width: var(--layout-border-width);
	--header-border:
			var(--header-border-width)
			var(--header-border-style)
			var(--header-border-color);
	--header-foreground-color: var(--foreground-color);
	--header-background-color: #0099ff;
	--header-font-size: var(--title-bar-font-size);
	--header-font-weight: var(--title-bar-font-weight);

	--link-foreground-color: var(--foreground-color);
	--link-normal-foreground-color: var(--link-foreground-color);
	--link-normal-background-color: #404040;
	--link-active-foreground-color: var(--link-foreground-color);
	--link-active-background-color: #202020;
	--link-hover-foreground-color: var(--link-foreground-color);
	--link-hover-background-color: var(--link-active-background-color);
	--link-font-size: var(--small-font-size);
	--link-font-weight: var(--light-font-weight);
}

#root > .title-bar {
	--height: var(--title-bar-height);
	--font-size: var(--title-bar-font-size);
	--border-color: #e0e0e0;
	--border-style: var(--layout-border-style);
	--border-width: var(--layout-border-width);
	--border:
			var(--border-width)
			var(--border-style)
			var(--border-color);
}
