/**
 * Global styles
 */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: var(--font-family);
	font-size: var(--medium-font-size);
	font-weight: var(--light-font-weight);
	line-height: 1.0;
}

/**
 * Generic component styles
 */

.layout {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	align-items: stretch;
	align-content: flex-start;
}

.text {
	-webkit-touch-callout: default;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.control {
	outline: none;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/**
 * Generic action styles
 */

.action {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	color: inherit;
	text-decoration: none;
}

.action > .icon,
.action > .label {
	display: inline-block;
}

.action > .icon {
	text-align: center;
	width: var(--icon-width);
	margin: 0 var(--icon-margin);
}

.action > .label {
	padding-bottom: 0.125em;
}

.action > .label:first-child {
	margin-left: var(--icon-margin);
}

.action > .description {
	color: var(--description-color);
	margin-left: 3em;
	margin-top: 0.125em;
	margin-bottom: 0.125em;
}

.action > .description > span {
	font-size: var(--description-font-size);
}

/**
 * Generic header styles
 */

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: inherit;
	height: var(--header-height);
	font-size: var(--header-font-size);
	font-weight: var(--header-font-weight);
}

.header > .icon,
.header > .label {
	display: inline-block;
}

.header > .icon {
	width: var(--icon-width);
	margin: 0 var(--icon-margin);
	font-size: var(--icon-font-size);
	text-align: center;
}

.header > .label {
	margin-right: calc(var(--icon-margin) * 2);
	padding-bottom: 0.125em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.header > .label:first-child {
	margin-left: var(--icon-margin);
}

/**
 * Generic scrollable styles
 */

.scrollable {
	overflow: hidden;
}

.scrollable.horizontal {
	overflow-x: auto;
}

.scrollable.vertical {
	overflow-y: auto;
}

/**
 * Generic drawer styles
 */

.drawer > .content > .action {
	display: flex;
}

.drawer.collapsed > .header > .label,
.drawer.collapsed > .content > .action > .label {
	display: none;
}

/**
 * Root container styles
 */

#root {
	height: 100vh;
	display: grid;
	justify-content: stretch;
	grid-template-columns: auto auto auto 1fr auto;
	grid-template-rows: auto 1fr;
	background-color: #f8f8f8;
}

/**
 * Root drawer styles
 */

#root > .drawer,
#root > .view {
	display: contents;
}

#root > .drawer > .header {
	grid-area: 1 / 1 / 1 / 1;
	border-bottom: var(--header-border);
	background-color: var(--header-background-color);
	color: var(--header-foreground-color);
}

#root > .drawer > .header > .label {
	font-variant: small-caps;
}

#root > .drawer > .content {
	grid-area: 2 / 1 / 2 / 1;
	background-color: var(--link-normal-background-color);
	color: var(--link-normal-foreground-color);
}

#root > .drawer > .header,
#root > .drawer > .content > .action {
	height: var(--title-bar-height);
	font-size: var(--title-bar-font-size);
	font-weight: var(--title-bar-font-weight);
}

#root > .drawer > .content > .action:hover {
	background-color: var(--link-hover-background-color);
	color: var(--link-hover-foreground-color);
}

#root > .drawer > .content > .action > .label {
	font-size: var(--link-font-size);
}

#root > .drawer > .content > .action.exact-active,
#root > .drawer > .content > .action.active:not(:first-child) {
	background-color: var(--link-active-background-color);
	color: var(--link-active-foreground-color);
}

#root > .drawer > .header > .icon,
#root > .drawer > .content > .action > .icon {
	font-size: var(--icon-font-size);
}

#root > .title-bar {
	grid-area: 1 / 2 / 1 / span 5;
	font-size: var(--font-size);
	height: var(--height);
	border-bottom: var(--layout-border);
	background-color: #f0f0f0;
	z-index: 0;
}

#root > .command-bar {
	grid-area: 1 / 5 / 5 / 5;
	font-size: var(--title-bar-font-size);
	height: var(--title-bar-height);
	z-index: 1;
	flex-direction: row;
	align-items: center;
	background-color: #ffffff;
	border-bottom: var(--layout-border);
	border-left: var(--layout-border);
}

#root > .command-bar > .action {
	height: var(--title-bar-height);
}

#root > .command-bar > .action:hover {
	background-color: #f0f0f0;
}

#root > .command-bar > .action > .icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

#root > .command-bar > .action > .label {
	font-size: var(--medium-font-size);
	margin-right: calc(var(--icon-margin) * 2);
}

/**
 * Page view styles
 */

.page {
	display: contents;
}

.page > .header,
.page > .content {
	border-right: var(--header-border);
	border-bottom: var(--header-border);
	background-color: #ffffff;
}

.page > .header {
	z-index: 1;
	border-bottom: var(--header-border);
	overflow: hidden;
}

.page > .header > .label {
	flex: 1 1 auto;
	font-variant: small-caps;
}

.page > .header > .action-list {
	flex-direction: row;
	flex: 0 0 auto;
	margin-right: var(--icon-margin);
	align-self: stretch;
	color: #808080;
}

.page > .header > .action-list .action {
	padding: 0 var(--icon-margin);
}

.page > .header > .action-list > .action:hover {
	color: #000000;
	background-color: #f0f0f0;
}

.page > .header > .action-list > .action > .icon,
.page > .header > .action-list > .action > .label {
	font-size: var(--medium-font-size);
}

.page > .header > .action-list > .action > .icon {
	width: auto;
	margin: 0;
}

.page > .header > .action-list > .action > .icon + .label {
	margin-left: var(--icon-margin);
}

.page.level-1 > .header,
.page.level-1 > .content {
	max-width: 20em;
}
.page.level-2 > .header,
.page.level-2 > .content {
	max-width: 20em;
}

.page.level-1 > .header {
	grid-area: 1 / 2 / 1 / 2;
	background-color: #f0f8fc;
}

.page.level-1 > .content {
	grid-area: 2 / 2 / 2 / 2;
}

.page.level-2 > .header {
	grid-area: 1 / 3 / 1 / 3;
	background-color: #f0f8f8;
}

.page.level-2 > .content {
	grid-area: 2 / 3 / 2 / 3;
}

.page.level-3 > .header {
	grid-area: 1 / 4 / 1 / 4;
	background-color: #f8f8f0;
}

.page.level-3 > .content {
	grid-area: 2 / 4 / 2 / 4;
}

.page.leaf > .header,
.page.leaf > .content {
	max-width: none;
	border-right-width: 0;
}

.page.leaf > .header {
	grid-column-end: 5;
}

.page.leaf > .content {
	grid-column-end: 6;
}

/**
 * Navigation styles
 */

.navigation > .content .header {
	padding: var(--icon-margin) 0 0.625em 0;
	color: #404040;
	height: auto;
}

.navigation > .content .spacer {
	height: 1em;
}

.navigation > .content .action-list > .action {
	padding: var(--icon-margin) var(--icon-margin) var(--icon-margin) 0;
	border-right: 2px solid transparent;
}

.navigation > .content .panel .action-list > .action {
	padding: var(--icon-margin);
	border-right: 2px solid transparent;
}

.navigation > .content .action-list > .action:hover {
	background-color: #e0e0e0;
}

.navigation > .content .action-list > .action > .icon {
	font-size: larger;
}

.navigation > .content .action-list > .action.active {
	border-right-color: #0099ff;
	background-color: #f0f0f0;
}

/**
 * Form styles
 */

.field {
	padding-top: 0.5rem;
}

.field > label,
.field > input {
	display: block;
	line-height: 150%;
}

.field > label {
	display: block;
	margin: 0 0 0.125rem 0.5rem;
	color: #404040;
	font-size: smaller;
}

.field > label.required {
	font-weight: bold;
}

.field > input {
	width: 100%;
	border: 1px solid transparent;
	background-color: #f8f8f8;
	padding: 0.25rem 0.5rem;
	font-size: var(--medium-font-size);
}

.field > input.valid {
	background-color: #f0fff0;
}

.field > input.invalid {
	background-color: #fff0f0;
}

.field > input:hover,
.field > input:focus {
	border-color: #d0d0d0;
	background-color: #f0f0f0;
}

.field > input.valid:hover,
.field > input.valid:focus {
	border-color: #80ff80;
}

.field > input.invalid:hover,
.field > input.invalid:focus {
	border-color: #ff8080;
}

.field > .error {
	color: #ff0000;
	margin: 0.25rem 0.5rem;
	font-size: smaller;
	font-weight: bold;
}

.field > .error:empty {
	display: none;
}
