@include keyframes(delay-posr) {
	from {
		position: absolute;
	} to {
		position: relative;
	}
}
@include keyframes(delay-pa) {
	from {
		position: absolute;
	}
	to {
		position: relative;
	}
}
@include keyframes(show-btn-read) {
	from {
		opacity: 0;
		bottom: -10px;
		transform: translate(-50%, 100%);
	} to {
		opacity: 1;
		bottom: 50px;
		transform: translate(-50%, 0);
	}
}
@include keyframes(show-btn-video) {
	from {
		opacity: 0;
		bottom: -10px;
		transform: translate(-50%, 100%);
	} to {
		opacity: 1;
		bottom: -100px;
		transform: translate(-50%, 0);
	}
}