input:not([type=button]):not([type=reset]):not([type=submit]) {
	border: 1px solid $main-color;
	padding: 15px;
	color: #747474;
	font-size: 1.6rem;
	outline: none;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fefeff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fefeff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fefeff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fefeff;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fefeff;
}
.dark-placeholder {
	&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	    color:    #747474;
	}
	&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color:    #747474;
	   opacity:  1;
	}
	&::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color:    #747474;
	   opacity:  1;
	}
	&:-ms-input-placeholder { /* Internet Explorer 10-11 */
	   color:    #747474;
	}
	&::-ms-input-placeholder { /* Microsoft Edge */
	   color:    #747474;
	}
}
.categories li {
	margin-bottom: 10px;
}
.video-holder {
	position: relative;
	padding: 0 20px;
	&.fullscreen-vid {
		position: fixed;
		left: 0;
		top: 0;
		width: 100vw;
		height: 100vh;
		z-index: 10000;
	}
	video {
		max-width: 100%;
		cursor: pointer;
	}
	.play-btn {
		cursor: pointer;
		font-size: 16px;
	}
	.vid-wrapper {
		position: relative;
	}
	.large {
		font-size: 100px;
		color: #FFF;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	.controls {
		background: $main-color;
		width: 100%;
		position: relative;
		color: #FFF;
		padding: 10px;
		a {
			color: #FFF;
		}
	}
	.progressbar {
		cursor: pointer;
		width: 100%;
		height: 5px;
		position: relative;
		background-color: rgba(255, 255, 255, 0.2);
	}
	.timebar {
		cursor: pointer;
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		position: absolute;
		background: #FFF;
	}
	.bufferBar {
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.4);
;
	}
	.volumebar {
		cursor: pointer;
		width: 100%;
		height: 5px;
		background: yellow;
		position: relative;
	}
	.volume {
		cursor: pointer;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		background: white;
		&:after {
			top: 50%;
			right: 0;
			width: 15px;
			content: "";
			height: 15px;
			background: #FFF;
			position: absolute;
			border-radius: 100%;
			transform: translate(50%, -50%);
		}
	}
}
.company-item {
	display: block;
	background: #FFF;
	margin-bottom: 10px;
	width: 11.62%;
	border: 1px solid $main-color;
	position: relative;
	padding-top: 183px;
	> div {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
	.logo-container {
		position: absolute;
		top: 0;
		left: 0;
		height: 50%;
		width: 100%;
		display: flex;
		padding: 10px;
		-webkit-align-items: center;
		        align-items: center;
		-webkit-justify-content: center;
		        justify-content: center;
		img {
			max-width: 100%;
			max-height: 100%;
		}
	}
	.company-info {
		position: absolute;
		left: 0;
		bottom: 0;
		height: 50%;
		width: 100%;
		display: flex;
		padding: 10px;
		small {
			-webkit-line-clamp: 6;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			display: block;
			display: -webkit-box;
		}
	}
	&.special-company {
		width: 24.24%;
		padding-top: 374px;
		border: 3px solid $main-color;
		.company-info {
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
		    
			small {
				-webkit-line-clamp: 10;
			}
		}
		h3 {
			margin: 0;
			text-transform: none;
		}
		i {
			text-decoration: none !important;
			position: absolute;
			left: 0;
			top: 50%;
			-webkit-transform: translateY(-50%);
			   -moz-transform: translateY(-50%);
			    -ms-transform: translateY(-50%);
			     -o-transform: translateY(-50%);
			        transform: translateY(-50%);
			&:before {
				font-size: 20px;
			}
		}
		.stats {
			margin-top: 10px;
			div {
				padding-left: 20px;
				position: relative;
				display: inline-block;
				margin-right: 10px;
			}
		}
	}
	&:hover {
		small,
		p,
		h3 {
			text-decoration: underline;
		}
	}
}
.accordion {
	p, span, a {font-size: 1.2rem;}
	a {
		color: $main-color !important;
		&:hover {
			color: black !important;
		}
	}
	&.ui-accordion {
		.ui-accordion-header {
			padding: 10px !important;
			border: none;
			border-bottom: 1px solid $main-color;
			-webkit-border-radius: 0;
			        border-radius: 0;
		}
		.ui-accordion-content {
			padding: 5px 10px;
			border: none;
			border-bottom: 1px solid $main-color;
			-webkit-border-radius: 0;
			        border-radius: 0;
		}
	}
	.ui-accordion-header[aria-selected="false"] {
		background: #EFEFEF;
		border-bottom: 1px solid $main-color;
		-webkit-border-radius: 0;
		        border-radius: 0;
	}
	.ui-accordion-header-icon {
		display: none;
	}
}
.inline {
	margin: 1em 0;
	* {
		display: inline;
	}
}
.fa-circle-thin {
	&:before {
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	&.xl:before {
		font-size: 4.5rem;
	}
}
.light {
	font-weight: 300;
}
.custom-checkbox {
	position: relative;
	display: inline-block;
	margin-left: 25px;
	margin-right: 10px;
	margin-bottom: 10px;
	label {
		font-size: 12px;
		cursor: pointer;
		position: relative;
		&:before {
			color: #19191b;
			content: '\f096';
			display: inline-block;
			font: normal normal normal 14px/1 FontAwesome;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			-webkit-transition: all .3s ease;
			   -moz-transition: all .3s ease;
			    -ms-transition: all .3s ease;
			     -o-transition: all .3s ease;
			        transition: all .3s ease;
			font-size: 20px;
			line-height: 0;
			position: absolute;
			left: -25px;
			top: 50%;
			-webkit-transform: translateY(-50%);
			   -moz-transform: translateY(-50%);
			    -ms-transform: translateY(-50%);
			     -o-transform: translateY(-50%);
			        transform: translateY(-50%);
		}
		&:hover::before {
			opacity: 0.5;
		}
	}
	input[type=checkbox]:checked + label:before {
		content: "\f046";
		color: $main-color;
	}
	input[type=checkbox] {
		position: absolute;
		display: none;
	}
}
.load-more {
	&:before {font-size: 70px; }
	text-align: center;
	display: block;
}
.alternative-bg {
	background: #FFF;
}
.sidebar-title {
	text-align: center;
	background: $main-color;
	color: #FFF;
	padding: 16px 15px;
	margin: 0;
	width: 100%;
	* { margin: 0; }
	&.large {
		padding: 9px 15px;
		text-align: left;
		position: relative;
		z-index: 1;
		&:before {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			width: 100vw;
			height: 100%;
			z-index: -1;
			background: $main-color;
		}
		* {
			text-transform: none;
		}
	}
}
#last-added {
	background: #fff;
	h2 {
		margin-top: -2.2rem;
		color:#19191b;
	}
}
/* #events, .ie11 {
	.development-item {
		.main-meta {
		height: 57%;
	}
	.extra-meta {
		h3.quote {
			height: 26%;
			top: 31%;
		}
		h5 {
			top: 72%;
		}
	}
	}
} */
body.ie11 {
	/* .development-item {
		.main-meta {
		height: 82%;
	}
		.extra-meta {
			p {
				top: 38%;
			}
			h4 {
				height: 11%;
			}
		}
	} */
	#sectors {
		.text-wrapper {
			h4 {
				margin-top: 4px;
				margin-bottom: 3px;
			}
		}
	}
}
.sort-by {
	.nice-select {
		float: left;
		clear: none;
	}
}
.search {
	position: relative;
	.search-bar{
		margin: 1.2rem 0;
		border: 0;
		border-radius: 0;
		border-bottom: 1px solid #19191b;
		outline: none;
		font-size: 1.4rem;
		float: right;
		width: calc(50% + 23px);
		&::placeholder {
			color: #838384;
		}
	}
	i {
		font-size: 1.8rem;
		right: 0;
		top: 50%;
		-webkit-transform: translateY(-50%);
		   -moz-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		     -o-transform: translateY(-50%);
		        transform: translateY(-50%);
		position: absolute;
		color: #707070;
	}
}
.courses-item {
	overflow: hidden;
	position: relative;
	margin-bottom: 2%;
	border: 2px solid $main-color;
	&:hover,
	&:active,
	&:focus {
		.back {
			opacity: 1;
				transition: all .4s ease;
			* {
				opacity: 1;
				transition: all .4s .2s ease;
			}
		}
	}
	h6 {
		text-transform: none;
	}
	.front h6 { margin: 10px 0; }
	.back {
		left: 0;
		top: 0;
		opacity: 0;
		z-index: 2;
		color: #FFF;
		width: 100%;
		height: 100%;
		display: flex;
		padding: 20px;
		position: absolute;
		flex-direction: column;
		justify-content: center;
		background: $main-color;
		transition: all .2s .2s ease;
		* {
			opacity: 0;
			transition: all .2s .1s ease;
		}
		h6 {
			margin: 0;
		}
	}
	.featured-img-wrapper {
		position: relative;
		&:after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			background: transparentize($main-color, .5);
			width: 100%;
			height: 100%;
		}
		img {
			width: 100%;
		}
		h6 {
			color: #FFF;
			z-index: 1;
			position: absolute;
			left: 10px;
		}
		span {
			right: 10px;
			bottom: 10px;
			color: #FFF;
			font-size: 12px;
			z-index: 1;
			font-weight: bold;
			position: absolute;
			i {
				font-size: 2.6rem;
				font-weight: normal;
			    position: absolute;
			    top: 50%;
			    left: -12px;
			    line-height: 0;
			    transform: translateX(-50%);
			}
		}
	}
	ul {
		list-style-type: circle;
		padding: 0 25px 0 10px;
		li {
			font-weight: bold;
			margin-bottom: 5px;
			font-size:1.2rem;
			list-style: none;
			small {
				font-size:1.2rem;
				font-weight: 100;
				display: block;
    			text-indent: 24px;
			}
		&:before {
				content: "\f1db";
				margin-right: 5px;
    			font: normal normal normal 14px/1 FontAwesome;
			    font-size: inherit;
			    text-rendering: auto;
			    -webkit-font-smoothing: antialiased;
			    -moz-osx-font-smoothing: grayscale;
			    font-size: 23px;
			    position: relative;
   				top: 3px;
			}	
		}
	}
}
.partners-wrapper {
	position: relative;
	display: flex;
	z-index: 1;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	&:before {
		z-index: -1;
		content: "";
		position: absolute;
		background: $main-color;
		padding: 17px;
		width: 100vw;
		right: 0;
		top: 50%;
		-webkit-transform: translateY(-50%);
		   -moz-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		     -o-transform: translateY(-50%);
		        transform: translateY(-50%);
		height: 100%;
	}
	.partner {
		display: flex;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		width: 90%;
		margin-right: 10px;
		background: #FFF;
		padding: 10px 15px;
		img {
			width: 100%;
		}
		h5 {
			margin: 0;
			padding: 0 0 0 15px;
		}
		&:last-child {
			margin-right: 17px;
		}
	}
}
.development-item {
	width: 49%;
	float: left;
	margin-right: 2%;
	margin-bottom: 2%;
	border: 2px solid $main-color;
	position: relative;
	&:nth-of-type(even) {
		margin-right: 0;
	}
	&.recommended {
		.meta h5 {
			margin: 8px auto;
		}
		.recommended-banner {
			width: 100%;
			background: $main-color;
			color: #FFF;
			padding: 5px 10px;
			* { margin: 0; display: inline-block; }
		}
	}
	.main-meta {
		height: 33.3%;
	}
	&:hover .extra-meta {
		height: 100%;
		background-color: $main-color;
		transition: height .5s linear .3s, background-color .3s;
		> h4,
		> h5,
		> p,
		> h3 {
			white-space: normal;
			text-transform: none;
			opacity: 1;
			transition: all .3s linear .5s;
			animation: delay-posr 0s .5s both;
		}
	}
	.meta {
		padding: 0px 15px;
		h5 {
			text-transform: none;
		}
	}
	.extra-meta{
		position: absolute;
		color: #FFF;
		display: flex;
		flex-direction: column;
		padding: 10px 15px;
		left: 0;
		width: 100%;
		overflow: hidden;
		z-index: 10;
		background-color: transparentize($main-color, .45);
		transition: background-color .3s linear .5s, height 1s;
		height: 62px;
		h4, h5 {
			text-transform: none;
			margin: 0;
			white-space: nowrap;
			overflow: hidden;
			display: block;
			text-overflow: ellipsis;
		}
		> h4,
		> h5,
		> p,
		> h3 {
			opacity: 0;
			position: relative;
			height: 33.3%;
			width: 100%;
		}
	}
	.featured-img {
		padding: 50% 15px 15px 15px;
		color: #FFF;
		background-position: center;
		background-size: cover;
		.icon {
			font-size: 1.4rem;
    		font-weight: bold;
		}
	}
}
.video-grid {
	@include cf();
	.video-wrapper {
		@include col(0.25, $gutter: 1.1, $cycle: 4);
		margin-bottom: 30px;
		h6 {
			margin: 0;
			text-transform: none;
		}
		.video-title {
			color: #303032;
			h5 {
				margin: 7px 0;
				text-transform: none;
			}
		}
		.video-container {
			position: relative;
			color: #FFF;
			overflow: hidden;
			img {
				width: 100%;
			}
			.top-bar {
				transition: all .3s .3s;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				display: flex;
				flex-direction: row;
			}
			.bottom-bar {
				transition: all .3s .3s;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				display: flex;
				flex-direction: row;
			}
			.certificate {
				z-index: 0;
				font-weight: bold;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				position: relative;
				color: $main-color;
				font-size: 0.9rem;
				svg {
					left: 0;
					top: 50%;
					fill: #FFF;
					width: 120%;
					z-index: -1;
					position: absolute;
					transform: translateY(-50%);
				}
				&.blue {
					color: #FFF;
					svg {
						fill: $main-color;
					}
				}
			}
			.play {
				&:after {
					transform: translate(-50%, -50%);
					position: absolute;
					left: 50%;
					top: 50%;
				}
				transform: translate(-50%, -50%);
				transition: all .3s;
				border: 2px solid #FFF;
				border-radius: 5px;
				padding: 15px 25px;
				position: absolute;
				color: #FFF;
				z-index: 1;
				left: 50%;
				top: 50%;
				small {
					font-weight: bold;
					text-decoration: underline;
					position: absolute;
					top: 200px;
					left: 50%;
					width: 120px;
					text-align: center;
					transform: translate(-50%, 25px);
					transition: all .3s;
					a {
						color: #fff !important;
						font-size: 1rem !important;
					}
				}
			}
			.time-icon {
				margin: 0;
				width: 100%;
				display: flex;
				padding: 10px;
				align-items: center;
				justify-content: flex-end;
				font-size: 28px;
			}
			.category {
				padding: 5px;
				width: calc(100% + 20px);
				display: flex;
				background: $main-color;
				align-items: center;
				justify-content: flex-start;
				&:before {
					margin-right: 5px;
				}
			}
			.price {
				padding: 5px;
				width: calc(100% - 50px);
				display: flex;
				align-items: center;
				justify-content: flex-end;
				&:after {
					margin-left: 10px;
				}
			}
			&:before {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: 0;
				background: transparentize($main-color, .5);
				transition: all .3s;
			}
		}
		&:hover,
		&:active,
		&:focus{
			.top-bar {
				top: -50%;
				transition: all .3s;
			}
			.bottom-bar {
				bottom: -50%;
				transition: all .3s;
			}
			.play {
				transform: translate(-50%, calc(-50% - 10px));
				transition: all .3s .3s;
				small {
					top: 50%;
					transition: all .3s .3s;
				}
			}
			&:before {
				transition: all .3s .3s;
				background: $main-color;
			}
			.video-title {
				color: $main-color;
				text-decoration: underline;
			}
			.video-container:before {
				background: $main-color;
			}
		}
	}
}
.breadcrumbs {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin-bottom: .5rem;
	margin-top: 2rem;
	@include cf();
	li {
		display: inline;
		width: auto;
		margin-right: 8px;
		a {
			text-decoration: underline;
			&:after {
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				content: "\f054";
				margin-left: 9px;
			}
		}
	}
}
.left-side-c {
	position: relative;
	z-index: 0;
	&:before {
		z-index: -1;
		display: block !important;
		position: absolute;
		right: 0;
		content: "";
		height: 100%;
		width: 100vw;
	}
}
.small-left-side-c {
	@extend .left-side-c;
	p {
		width: calc(100% - 280px);
	}
	&:before {
		right: 267px;
		background: #FFF;
	}
}
.right-side-c {
	position: relative;
	z-index: 0;
	&:before {
		z-index: -1;
		display: block !important;
		position: absolute;
		left: 0;
		content: "";
		height: 100%;
		width: 100vw;
	}
}
.popup {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	z-index: 100;
	position: fixed;
	visibility: hidden;
}
.popup-bg {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	background: rgba(0,0,0,.5);
	cursor: url("/images/close-cursor.png") 25 15, auto;
}
.modal {
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -150%);
	max-height: 90vh;
	overflow-x: hidden;
}
.showmodal {
	opacity: 1;
	visibility: visible;
	.modal {
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		opacity: 1;
	}
}
.progress-bar {
	background-color: #FFFFFF;
	width: 100%;
	height: 17px;
	position: relative;
	display: block;
	border: 2px solid $main-color;
	> span {
		text-indent: 50%;
		font-weight: bold;
		font-size: 10px;
		position: absolute;
		white-space: nowrap;
		overflow: hidden;
		&.progress-value {
			background-color: $main-color;
			color: #FFFFFF;
			z-index: 1;
		}
		&.invert {
			background-color: #FFFFFF;
			color: $main-color;
			width: 100%;
		}
	}
}
ol {
	margin: 0 0 1.5em;
	counter-reset: item;
	> li {
		margin: 0;
		padding: 0 0 0 2em;
		list-style-type: none;
		counter-increment: item;
		position: relative;
		&:before {
			display: inline-block;
			width: 1em;
			left: 0;
			position: absolute;
			font-weight: bold;
			text-align: right;
			content: counter(item) ".";
		}
	}
}
a, a:visited {
	cursor: pointer;
	color: $main-color;
	text-decoration: none;
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
		-ms-transition: all .3s ease;
		 -o-transition: all .3s ease;
			transition: all .3s ease;
}
.check-circle:after {
	font-family: icon-set;
	content: "\e900";
	font-size:2.0rem;
}
.time-icon:before {
	font-family: icon-set;
	font-weight: normal;
	content: "\e901";
	margin-right: 5px;
	font-size: 20px;
}
.ruble:after {
	font-family: icon-set;
	content: "\e902";
	border: 1px solid #FFF;
	padding: 2px 3.71px;
	font-weight: 100;
	-webkit-border-radius: 100%;
			border-radius: 100%;
}
.phone-icon:before {
	font-family: icon-set;
	content: "\e903"
}
.play:after {
	font-family: icon-set;
	content: "\ea1c";
}
.icon{
	margin-right: 10px;
	&:before {
		margin-right: 5px;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		content: "\f1db";
		font-size: 15px;
	}
}
.quote {
	&:before,
	&:after {
		content: '"';
	}
}
.accent {
	color: $main-color;
}
.accent-bg {
	background-color: $main-color;
}
a:hover, a:active, a:focus {
	outline: none;
	color: lighten($main-color, 20%);
}
i, span {
	font-style: normal;
}
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
	&:before,
	&:after {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;
	}
}
html {
	letter-spacing: 0.05em;
	font-size: 10px;
	cursor: default;
}
body {
	margin: 0;
	font-family: gilroy, sans-serif;
}
.site-wrapper {
	-ms-overflow-x: hidden;
	    overflow-x: hidden;
	.site {
		width: 100%;
		-webkit-transition: margin-left .3s .5s $nav-bezier;
		   -moz-transition: margin-left .3s .5s $nav-bezier;
		    -ms-transition: margin-left .3s .5s $nav-bezier;
		     -o-transition: margin-left .3s .5s $nav-bezier;
		        transition: margin-left .3s .5s $nav-bezier;
		&.move {
			margin-left: 260px;
		}
	}
}
h1 {
	font-size:7.2rem;
	a {font-size:7.2rem;}
}
h2 {
	font-size:3.6rem;
	a {
		font-size:3.6rem;
	}
}
h3 {
	font-size:1.8rem;
	a {
		font-size:1.8rem;
	}
}
h4 {
	font-size:1.6rem;
	a {
		font-size:1.6rem;
	}
}
h5, a, p, li {
	font-size:1.4rem;
}
h6 {
	font-size:1.2rem;
	a {
		font-size:1.2rem;
	}
}
small {
	font-size:1.0rem;
}
h2 {
}
h1, h3, h4, h5, h6 {
	text-transform: uppercase;
}
[class*="col-"] {
	position: relative;
}
.wrapper {
	@include cf();
	@include center(1050px);
	width: 90vw;
}
.remove-bullets {
	padding: 0;
	margin: 0;
	li {
		display: block;
	}
}
.hide {
	display: none !important;
}
.video-container {
	img {
		object-fit: cover;
		object-position: center;
	}
	&.compat-object-fit {
		padding-bottom: 60%;
		background-position: center;
		background-size: cover;
		img {
			display: none;
		}
	}
}
.col-container {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
}
.separator {
	position: relative;
	display: block;
	&:after {
		content: "";
		bottom: -10px;
		left: 0;
		width: 100%;
		height: 5px;
		background: #19191B;
		position: absolute;
	}
	span {
		font-weight: lighter;
	}
}
.empty-space {
	@include cf();
	padding-top: 40px;
	clear: both;
}
.box {
	width: 100%;
	height: 40px;
	border: #000 2px solid ;
}
.logo {
	@include cf();
	span {
		float: left;
		display: block;
	}
	span:nth-child(2) {
		font-size:8.0rem;
		line-height: 14px;
	}
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	margin: 30px auto;
	cursor: pointer;
	display: block;
	padding: 10px 20px;
	background: $main-color;
	border: 0;
	color: #fff;
	text-transform: uppercase;
	outline: none;
	font-size:1.6rem;
	font-weight: 800;
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
		-ms-transition: all .3s ease;
		 -o-transition: all .3s ease;
			transition: all .3s ease;
	-webkit-border-radius: 0;
			border-radius: 0;
			a, a:active {
				color: #fff !important;
			}
	&:hover,
	&:focus,
	&:active {
		background: darken($main-color, 20%);
	}
	
}
div.scrollbar {
	overflow: auto;
	&::-webkit-scrollbar {
	    -webkit-appearance: none;
	    width: 7px;
	    background-color: rgba(0,0,0,0);
	}
	&::-webkit-scrollbar-corner {
	    background-color: $main-color;
	}
	&::-webkit-scrollbar-thumb {
	    border-radius: 0px;
	    background-clip: content-box;
	    background-color: $main-color;
	}
	&::-webkit-scrollbar-track {
	    border-radius: 0px;
	    border: 3px solid rgba(0,0,0,0);
	    background-clip: content-box;
	    background-color: $main-color;
	}
}
.col-1 {
	@include col(0.083, $gutter: 0);
}
.col-2 {
	@include col(0.166, $gutter: 0);
}
.col-3 {
	@include col(0.25, $gutter: 0);
}
.col-4 {
	@include col(0.333, $gutter: 0);
}
.col-5 {
	@include col(0.416, $gutter: 0);
}
.col-6 {
	@include col(0.5, $gutter: 0);
}
.col-7 {
	@include col(0.583, $gutter: 0);
}
.col-8 {
	@include col(0.66, $gutter: 0);
}
.col-9 {
	@include col(0.75, $gutter: 0);
}
.col-10 {
	@include col(0.833, $gutter: 0);
}
.col-11 {
	@include col(0.916, $gutter: 0);
}
.col-12 {
	@include col(1, $gutter: 0);
}
.col-1-gutter {
	@include col(0.083, $gutter: 1);
}
.col-2-gutter {
	@include col(0.166, $gutter: 1);
}
.col-3-gutter {
	@include col(0.25, $gutter: 1);
}
.col-4-gutter {
	@include col(0.333, $gutter: 1);
}
.col-5-gutter {
	@include col(0.416, $gutter: 1);
}
.col-6-gutter {
	@include col(0.5, $gutter: 1);
}
.col-7-gutter {
	@include col(0.583, $gutter: 1);
}
.col-8-gutter {
	@include col(0.66, $gutter: 1);
}
.col-9-gutter {
	@include col(0.75, $gutter: 1);
}
.col-10-gutter {
	@include col(0.833, $gutter: 1);
}
.col-11-gutter {
	@include col(0.916, $gutter: 1);
}
.col-12-gutter {
	@include col(1, $gutter: 1);
}
