#welcome-page {
	input:not([type=button]):not([type=reset]):not([type=submit]) {
		display: block;
		width: 90%;
		max-width: 320px;
		margin: 0px auto;
		margin-bottom: 10px;
		color: #444;
	}
	h3 {
		text-align: center;
		text-transform: capitalize;
	}
	.col-12 {
		margin-top: 30px;
		height: 100%;
		clear: both;
		float: none;
		display: flex;
		@include cf();
		.col-6 {
			p {
				color: gray;
				font-size: 1.3rem;
				margin-left: auto;
				margin-right: auto;
				width: 95%;
				max-width: 400px;
			}
			position: relative;
			&:first-child:after {
				position: absolute;
				right: 0;
				height: 80%;
				width: 1px;
				top: 50%;
				content: "";
				background: #C5C5C5;
				-webkit-transform: translateY(-50%);
				        transform: translateY(-50%);
			}
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			display: flex;
		}
	}
	.wrapper {
		position: relative;
		height: 100%;
	}
	input[type="submit"] {
		width: 90%;
		max-width: 320px;
	}
	button {
		position: relative;
		margin: 0 auto;
		width: 90%;
		line-height: 25px;
		padding-left: 40px;
		i {
			position: absolute;
			left: 30px;
			top: 50%;
			-webkit-transform: translateY(-50%);
			        transform: translateY(-50%);
			font-size: 2.5rem;
		}
		max-width: 320px;
	}
	.logo {
		position: absolute;
		bottom: 91px;
		width: 90%;
		max-width: 340px;
		margin-left: 20px;
	}
	.upper-section {
		background: #FFF;
		min-height: 40vh;
		position: relative;
		.wrapper {
			position: static;
		}
	}
	.site-wrapper {
		min-height: 100vh;
		background: #EFEFEF;
	}
	.lower-section {
		min-height: 60vh;
	}
	.left-side-c {
		margin-top: -5.2rem;
		color: #FFF;
		max-width: 770px;
		padding: 15px 20px;
		&:before {
			background: $main-color;
			top: 50%;
			-webkit-transform: translateY(-50%);
			        transform: translateY(-50%);
		}
	}
}
#universities-all {
	.site-wrapper {
		background: #EFEFEF;
	}
	h2 {
		margin: 10px 0;
	}
	.sort-by {
		margin-bottom: 20px;
		span {
			font-size: 1.4rem;
		}
		a {
			text-decoration: underline;
		}
		> * {
			margin-right: 10px;
		}
	}
	.university-item-container {
		margin-bottom: 10px;
		padding: 10px;
		background: #FFF;
	}
	.university-item {
		@include cf();
		display: flex;
		flex-direction: row;
		border: 1px solid;
		border-color: $main-color;
		* {
			border-color: $main-color;
		}
		span {
			font-size: 1.2rem;
		}
		.inline {
			margin: 0;
		}
	}
	.main-uni-info {
		width: 70%;
		padding: 5px 11px;
		display: flex;
		-webkit-flex-flow: row wrap;
			-ms-flex-flow: row wrap;
				flex-flow: row wrap;
		> * {
			display: flex;
		}
	}
	.secondary-uni-info {
		width: 30%;
		display: flex;
		-webkit-flex-direction: column;
			-ms-flex-direction: column;
				flex-direction: column;
		.info-item {
			-webkit-flex: 1;
				-ms-flex: 1;
					flex: 1;
			padding: 10px;
			display: flex;
			height: 33.33%;
			-webkit-align-items: center;
					align-items: center;
			border-bottom: 1px solid $main-color;
			border-left: 1px solid $main-color;
			h6 {
				margin: 0;
			}
			&:last-child {
				border-bottom: none;
			}
		}
	}
	.number {
		width: 50px;
		margin: 0;
		border-right: 1px solid;
		border-bottom: 1px solid;
		border-color: inherit;
		justify-content: center;
		align-items: center;
	}
	.uni-title {
		border-bottom: 1px solid;
		border-color: inherit;
		padding: 10px;
		width: calc(100% - 50px);
		h3 {
			margin: 0;
		}
		span {
			font-size: 1.8rem;
		}
		.img-container {
			width: 50px;
			img {
				max-width: 100%;
				max-height: 100%;
			}
		}
		.uni-name {
			padding-left: 10px;
			width: calc(100% - 50px);
		}
	}
	.uni-meta {
		max-width: 174px;
		border-right: 1px solid;
		border-color: inherit;
		-webkit-align-items: center;
				align-items: center;
		-webkit-justify-content: center;
				justify-content: center;
		.stat {
			display: flex;
			padding-right: 17px;
			margin-top: 10px;
			span {
				line-height: 20px;
			}
			i {
				line-height: 16px;
				font-size: 2rem;
				margin-right: 3px;
			}
		}
	}
	.button-container {
		padding: 10px 0 0 10px;
		width: calc(100% - 175px);
		button {
			width: 100%;
			margin: 0;
			text-transform: none;
		}
	}
}
#companies-all-page .site-wrapper {
	background: #EFEFEF;
	h2 {
		margin: 2.7rem 0;
	}
	.order-by {
		margin-bottom: 28px;
		a {
			text-decoration: underline;
			margin-right: 40px;
		}
		span {
			font-size: 1.4rem;
			margin-right: 40px;
		}
	}
}
#single-professions {
	.col-12 {
		@include stack();
		@include cf();
	}
	#primary {
		margin-top: 2.3rem;
		float: left;
		width: 70%;
		* {
			text-transform: none;
		}
		.left-side-c {
			color: #FFF;
			padding: 15px 15px 15px 0;
			margin-bottom: 20px;
			* {
				margin: 0;
			}
			&:before {
				top: 0;
				background: $main-color;
			}
		}
		#individuals-requirements {
			clear: both;
		}
		#profession-info {
			h2 {
				margin-top: -2.3rem;
			}
			margin-bottom: 40px;
			background-image: url(/images/building-1-professions-single.png);
			background-position: right bottom;
			background-repeat: no-repeat;
		}
		#requirements {
			margin-top: 40px;
			background-image: url(/images/building-2-professions-single.png);
			background-position: right bottom;
			background-repeat: no-repeat;
			border-bottom: 15px solid $main-color;
			h3 {
				margin-top: -1.6rem;
			}
		}
		.col-12 {
			margin-top: -10px;
			margin-bottom: 30px;
		}
		.wrapper-small {
			@include center(1050px);
			width: 90%;
		}
		.alternative-bg {
			width: 100%;
			float: left;
			padding-bottom: 100px;
			*.accent {
				text-transform: none;
			}
		}
		.blue-bullets {
			margin: 0;
			max-width: 600px;
			li {
				display: block;
				margin-bottom: 10px;
				&:before {
					color: $main-color;
					text-indent: -25px;
					content: "\f111";
					display: inline-block;
					font: normal normal normal 14px/1 FontAwesome;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}
			}
		}
	}
	#sidebar {
		float: right;
		width: 27.5%;
		.specialties {
			border: 1px solid $main-color;
			margin-bottom: 20px;
			a {
				text-decoration: underline;
			}
			.top-specialties {
				padding: 10px;
				border-bottom: 1px solid $main-color;
			}
			.scrollbar {
				max-height: 400px;
			}
			.bottom-1 {
				padding: 10px;
				background: #EFEFEF;
				border-bottom: 1px solid $main-color;
				border-top: 1px solid $main-color;
				margin-bottom: 1px;
			}
			.bottom-2 {
				padding: 10px;
				background: #EFEFEF;
				border-bottom: 1px solid $main-color;
				border-top: 1px solid $main-color;
				margin-bottom: 1px;
			}
			.bottom-3 {
				padding: 10px;
				background: #EFEFEF;
				border-top: 1px solid $main-color;
			}
		}
		.scrollbar {
			li {
				@include cf();
				clear: both;
			}
			.img-wrapper {
				width: 65px;
				float: left;
			}
			img {
				width: 100%;
			}
			p {
				margin: 0;
				padding-left: 10px;
				float: left;
				width: calc(100% - 65px);
			}
		}
	}
	.site-wrapper {
		background: #EFEFEF;
	}
	.development-item {
		@include col(1/4, $gutter: 1, $cycle:4);
		background: #FFF;
	}
	.video-grid {
		background: #FFF;
		margin-top: 3rem;
		button {
			margin: 0 auto;
			margin-bottom: -1.7rem;
		}
		h2 {
			margin-top: -2.3rem;
		}
	}
	#professions-detailed {
		width: 100%;
		clear: both;
		@include cf();
		.col-4 {
			padding-right: 3%;
		}
	}
	#events-list {
		.SumoSelect>.CaptionCont {
			background: none;
		}
		.search .search-bar {
			margin: 3.5px 0;
			background: none;
		}
		.search,
		.sort-by {
			margin-bottom: 10px;
		}
	}
	#articles {
		background: #FFF;
		padding-bottom: 40px;
		margin-top: 2.3rem;
		h2 {
			margin-top: -2.3rem;
			width: 60%;
		}
		article {
			h4 {
				margin: 0;
				margin-bottom: 5px;
				> a {
					text-decoration: underline;
					color: #19191b;
					&:hover {
						color: $main-color;
					}
				}
			}
		}
	}
}
#companies-single {
	main .container {
		background-color: #EFEFEF;
	}
	.contact-info h4 { 
		text-transform: none;
	}
	h2 span {
		font-weight: 300;
	}
	.development-item {
		@include col(1/4, $gutter: 1, $cycle: 4);
		background: #FFF;
	}
	#development-list {
		background-image: url(/images/building-about.png);
		background-position: -19% 100%;
		background-repeat: no-repeat;
		background-size: 40vw auto;
		padding-bottom: 40px;
		.col-12 {
			margin-bottom: 30px;
		}
		button {
			margin: 0 auto;
		}
	}
	.video-grid {
		h2 {
			margin-top: -2.3rem;
		}
		.left-side-c{
			float: left;
			padding-right: 26px;
			&:before {
				background: #FFF;
			}
		}
		.col-12 {
			@include cf();
			clear: both;
		}
		button {
			margin: 0 auto;
			margin-bottom: -1.7rem;
		}
	}
	.site-wrapper {
		background: #EFEFEF;
	}
	.sidebar {
		background: #FFF;
		h4 {
			text-transform: none;
		}
		.sidebar-title {
			margin-left: 54px;
			margin-top: -16px;
		}
		li {
			width: calc(100% - 22px);
			margin: 0 auto;
			padding: 20px 0;
			border-bottom: 1px solid $main-color;
			@include cf();
			span {
				font-weight: bold;
				font-size: 1.4rem;
			}
			.img-wrapper {
				float: left;
				width: 77px;
				padding-left: 15px;
			}
			img {
				width: 100%;
			}
			&:last-child {
				border-bottom: none;
			}
			.uni-content {
				padding: 0 30px;
				width: calc(100% - 77px);
				float: left;
			}
			p {
				margin: 0;
			}
		}
	}
	.uni-info {
		margin-top: 2.3rem;
		.small-left-side-c {
			position: absolute;
			bottom: -23px;
			z-index: 1;
			background: none;
			color: #FFF;
			padding: 20px 30px;
			text-align: left;
			left: 0;
			h4 {
				margin: 5px 0;
			}
			&:before {
				top: 0;
				right: 0;
				background-color: $main-color;
			}
			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: -15px;
				transform: translateX(-100%);
				height: 100%;
				width: 100%;
				z-index: 10000;
				background-image: url(/images/building-companies.png);
				background-position: 100% 100%;
				background-repeat: no-repeat;
				background-size: auto 92%;
			}
		}
		h2 {
			margin-bottom: 0;
			margin-top: -2.3rem;
			padding: 0 15px;
		}
		h4.accent {
			text-align: left;
			margin: 0;
		}
		.col-5 {
			position: relative;
			text-align: center;
			padding: 10px 0 10px 15px;
		}
		.col-7 {
			padding: 10px 15px 10px 0;
			p:first-child {
				margin-top: 0;
			}
		}
		.col-12 {
			display: flex;
			-webkit-flex-direction: row;
				-ms-flex-direction: row;
					flex-direction: row;
		}
		img {
			width: 70%;
			margin-top: 70px;
		}
		.wrapper {
			background: #FFF;
		}
	}
	.analytics {
		width: 50%;
		.ana-cols {
			@include cf();
			clear: both;
			margin-bottom: 20px;
		}
		button {
			margin: 0;
		}
		.col-6-gutter {
			width: 49%;
			margin-right: 2%;
			&:nth-of-type(odd) {
				margin-right: 0;
			}
			> a {
				text-decoration: underline;
				color: #19191b;
				font-weight: bold;
				&:hover {
					color: $main-color;
				}
			}
			span {
				margin-right: 13px;
				font-weight: bold;
			}
		} 
		h3 {
			margin: 7px 0;
			margin-top: 26px;
		}
		.categories-analytics {
			padding-top: 20px;
			@include cf();
			@include stack();
			a {
				display: inline-block;
				h4 {
					text-transform: none;
					display: inline-block;
					margin: 0;
				}
				&:first-child:before  {
					content: none;
				}
				&:nth-of-type(even):before {
					content: " | ";
				}
			}
		}
		.highlight{
			color: #FFF;
			padding-right: 7%;
			.meta {
				position: relative;
				z-index: 1;
				margin-bottom: 12px;
			}
			.meta span {
				font-weight: bold;
			}
			a {
				color: #FFF;
				text-decoration: underline;
				&:hover {
					color: #19191b;
				}
			}
			&:after {
				z-index: 0;
				content: "";
				position: absolute;
				right: 0;
				top: 0;
				width: 50vw;
				height: 100%;
				background-color: #293db9;
			}
			h4,
			h5 {
				position: relative;
				z-index: 1;
				text-transform: none;
				margin: 13px 0;
			}
			h4 {
				margin-bottom: 0;
			}
			span {
				margin-right: 13px;
			}
		}
	}
}
#profile {
	.video-grid {
		padding-bottom: 5rem;
		background-repeat: no-repeat;
		background-position: 100% 100%;
		background-image: url(/images/building-about.png);
		-webkit-background-size: 35vw auto;
			 -o-background-size: 35vw auto;
				background-size: 35vw auto;
	}
	#development-section {
		background: #FFF;
		h2 {
			margin-top: -2.3rem;
		}
		button {
			margin-bottom: -1.8rem;
		}
		.col-12 {
			@include cf();
			margin-bottom: 4rem;
		}
	}
	.development-item {
		@include col(1/4, $gutter: 1, $cycle: 4);
	}
	.site-wrapper {
		background: #EFEFEF;
	}
	.left-side-c {
		float: left;
		width: 100%;
		margin-top: 2.3rem;
		&:before {
			background: #FFF;
		}
		h2 {
			margin-top: -2.3rem;
		}
		.col-4 {
			text-align: center;
			img {
				max-width: 90%;
				margin: 25px 0;
			}
		}
		.education-info {
			h5 {
				text-transform: none;
				margin-bottom: 0;
			}
			p {
				margin-top: 0;
			}
			.year {
				font-size: 1.6rem;
			}
		}
		.right-side-c {
			color: #FFF;
			padding: 10px;
			h3 {
				text-transform: none;
				display: inline-block;
				margin: 0;
			}
			.fa {
				font-size: 20px;
				line-height: 0;
				margin-left: 5px;
			}
			&:before {
				top: 0;
				background: $main-color;
			}
		}
		.profile-picture {
			display: flex;
			width: 50%;
			float: left;
			padding-top: 50%;
			background-size: cover;
			background-position: center;
			-webkit-border-radius: 100%;
					border-radius: 100%;
		}
		.col-6.left-side {
			display: flex;
			margin-bottom: 42px;
			-webkit-flex-direction: row;
				-ms-flex-direction: row;
					flex-direction: row;
			-webkit-align-items: center;
					align-items: center;
			-webkit-justify-content: center;
					justify-content: center;
			.icon {
				text-transform: none;
				margin: 0;
				width: 50%;
				float: left;
				display: flex;
				position: relative;
				padding-left: 15%;
				&:before {
					position: absolute;
					left: 15%;
				}
			}
		}
	}
}
#courses-master {
	footer.container {
		background: #EFEFEF;
	}
	.site-wrapper {
		background: #EFEFEF;
	}
	.sort-by {
		margin: 20px 0;
		.SumoSelect{
			float: left;
			>.CaptionCont { 
				background: transparent;
				> span {
					border-bottom-color: $main-color;
					color: $main-color;
				}
				> label > i {
					border-bottom-color: $main-color;
					border-right-color: $main-color;
				}
			}
		}
		> a {
			float: left;
			display: inline-block;
			height: 27px;
			line-height: 27px;
			margin-right: 10px;
			text-decoration: underline;
		}
		> label {
			float: left;
			line-height: 27px;
			font-size: 1.4rem;
			display: inline-block;
			height: 27px;
		}
	}
	.right-side-c {
		padding: 20px;
		color: #FFF;
		width: 40%;
		position: absolute;
		right: 0;
		top: 154px;
		-webkit-transform: translateY(-50%);
		   -moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			 -o-transform: translateY(-50%);
				transform: translateY(-50%);
		z-index: 0;
		&:after {
			z-index: -1;
			content: "";
			top: 0;
			left: 0;
			width: 100vw;
			height: 100%;
			position: absolute;
			background-color: $main-color;
			background-repeat: no-repeat;
			background-position: 7vw 130%;
			background-image: url(/images/building-course-master.png);
		}
		h2 {
			margin-bottom: 0;
			margin-top: 0;
		}
		h5 {
			margin-top: 0;
			margin-bottom: 30px;
		}
	}
	.left-side-c {
		position: relative;
		float: left;
		width: 100%;
		margin-top: 40px;
		h2 {
			margin-top: -2.3rem;
		}
		&:before {
			background: #FFF;
		}
		.irs {
			margin-bottom: 20px;
		}
		.xl.fa-circle-thin {
			position: relative;
			text-decoration: underline;
			margin-left: 3rem;
			font-size: 1.6rem;
			clear: both;
			margin-right: 10px;
			&:before {
				font-size: 30px;
				line-height: 0;
				position: absolute;
				left: -3rem;
				top: 50%;
				transform: translateY(50%);
			}
		}
		.checkbox-container {
			margin-top: 40px;
		}
		.accent-bg {
			background: transparent;
			z-index: 0;
			&:before {
				z-index: -1;
				position: absolute;
				right: 0;
				width: 100vw;
				top: 0;
				height: 100%;
				content: "";
				background: $main-color;
			}
		}
		h4 {
			text-transform: none;
			padding: 10px 0;
			position: relative;
			z-index: 1;
			width: 100%;
			color: #FFF;
		}
		input[type="number"] {
			color: #7A7C8C;
			padding: 2px 0;
			text-align: right;
			border: 1px solid $main-color;
			width: 45%;
			float: even;
			&:nth-of-type(odd) {
				float: right;
			}
		}
	}
}
#course {
	.site-wrapper {
		background: #EFEFEF;
	}
	&.examination {
		.main-area:after {
			left: 0;
			bottom: 0;
			content: "";
			z-index: 10;
			height: 100%;
			width: 100vw;
			pointer-events: none;
			position: absolute;
			background-repeat: no-repeat;
			background-size: 27vw auto;
			background-position: 39% 105.6%;
			background-image: url(/images/building-course.png);
		}
	}
	&.course-body-text {
		#go-next-btn {
			margin: 0;
			left: 50%;
			z-index: 100;
			bottom: -10px;
			display: none;
			min-width: 200px;
			position: absolute;
			animation: show-btn-read 2s forwards;
			transform: translate(-50%, -100%);
		}
		.eta {
			font-size: 1.3rem;
			font-style: italic;
		}
		p {
			padding-left: 25px;
		}
		.main-area {
			padding-bottom: 119px;
			&:after {
				left: 0;
				bottom: 0;
				content: "";
				z-index: 10;
				height: 100%;
				width: 100vw;
				pointer-events: none;
				position: absolute;
				background-repeat: no-repeat;
				background-size: 27vw auto;
				background-position: 0 105.6%;
				background-image: url(/images/building-course.png);
			}
		}
	}
	&.course-body-video {
		#go-next-btn {
			margin: 0;
			left: 50%;
			z-index: 100;
			bottom: -10px;
			display: none;
			min-width: 200px;
			position: absolute;
			animation: show-btn-video 2s forwards;
			transform: translate(-50%, -100%);
		}
		p {
			padding-left: 62px;
		}
		.main-area {
			padding-bottom: 135px;
			&:after {
				left: 0;
				bottom: 0;
				content: "";
				z-index: 10;
				height: 100%;
				width: 100vw;
				pointer-events: none;
				position: absolute;
				background-repeat: no-repeat;
				background-size: 27vw auto;
				background-position: 65% 105.6%;
				background-image: url(/images/building-course.png);
			}
		}
	}
	.progress-bar {
		margin-top: 20px;
	}
	.left-sidebar {
		margin-top: 22px;
		background: #FFF;
		width: 37%;
		float: left;
		padding: 10px;
		ul {
			counter-reset: item;
			position: relative;
		}
		li {
			font-size: 10px;
			text-overflow: ellipsis;
			width: 100%;
			white-space: nowrap;
			overflow: hidden;
		}
		a {
			color: #19191b;
			display: block;
			padding: 10px 3px;
			margin-right: 16px;
			border-bottom: $main-color 1px solid;
			transition: all .3s .3s ease;
			counter-increment: item;
			position: relative;
			&:before {
				display: inline-block;
				width: 0;
				overflow: hidden;
				left: 0;
				color: #FFF;
				position: absolute;
				top: 50%;
				font-size: 10px;
				text-align: right;
				transform: translateY(-50%);
				font-weight: bold;
				text-align: center;
				transition: all .2s .3s ease;
				content: counter(item) ".";
			}
			strong { transition: all .2s .3s ease; }
			&:last-child {
				border-bottom: 0;
			}
			&:hover,
			&.active {
				padding: 10px;
				padding-left: 20px;
				margin: 0 16px 0 0;
				background: $main-color;
				transition: all .3s ease;
				color: #FFF;
				strong {
					color: #FFF;
					transition: all .3s ease;
				}
				&:before {
					width: 20px;
				}
			}
		}
		.scrollbar {
			height: 500px;
		}
	}
	.main-area {
		margin-top: 38px;
		width: 60%;
		float: right;
		position: relative;
		&:before {
			top: 0;
			background-color: #FFF;
			border-bottom: 17px solid $main-color;
		}
		h2 {
			line-height: 30px;
			max-width: 450px;
			margin-top: -2.3rem;
			position: relative;
			margin-left: 60px;
			&:before {
				content: attr(data-content);
				position: absolute;
				left: -60px;
			}
		}
		ul.question-container {
			list-style: none;
			margin-bottom: 40px;
			li {
				margin-top: 16px;
				color: #19191b;
				display: block;
				position: relative;
				width: 100%;
				input[type=radio] {
					position: absolute;
					visibility: hidden;
				}
				label {
					display: block;
					font-size: 1.4rem;
					position: relative;
					padding-left: 34px;
					z-index: 9;
					cursor: pointer;
					-webkit-transition: all 0.25s linear;
				}
				&:hover {
					label{
						color: lighten($main-color, 20%);
					}
					.check {
						border: 3px solid lighten($main-color, 20%);
					}
				}
				.check {
					display: block;
					position: absolute;
					border: 1px solid $main-color;
					border-radius: 100%;
					height: 14px;
					width: 14px;
					top: 50%;
					left: 0;
					z-index: 5;
					-webkit-transform: translateY(-50%);
					   -moz-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
						 -o-transform: translateY(-50%);
							transform: translateY(-50%);
					transition: border .25s linear;
					-webkit-transition: border .25s linear;
				}
				.custom-checkbox {
					margin-left: 0;
					label:before {
						left: 0;
						color: #1720e1;
					}
				}

			}
			input[type=radio]:checked ~ .check {
				border: 7px solid $main-color;
			}

			input[type=radio]:checked ~ .check::before {
				background: $main-color;
			}

			input[type=radio]:checked ~ label {
				color: $main-color;
			}
		}
	}
}
#analytics-all, #analytics-category {
	background: #EFEFEF;
	.wrapper {
		.fa.fa-circle-thin {
			bottom: 0;
			left: 50%;
			position: absolute;
			-webkit-transform: translate(-56%, 50%);
			transform: translate(-56%, 50%);
			&:before {
				font-size: 5rem;
			}
		}
	}
	h2 {
		margin-bottom: 1.9rem;
		margin-top: -3.2rem;
		position: relative;
		display: inline-block;
	}
	#dev-ana {
		.left-side-c {
			margin-top: 3.2rem;
		&:before {
			background: #fff;
		}
	}
		.highlight {
			color: #FFF;
			padding-right: 7%;
			a {
				color: #FFF;
				text-decoration: underline;
			}
			h4 {
				margin-bottom: 0;
			}
			h4, h5 {
				position: relative;
				z-index: 1;
				text-transform: none;
				margin: 13px 0;
			}
			.meta {
				position: relative;
				z-index: 1;
				margin-bottom: 25px;
				font-weight: bold;
				.icon:before {
					font-size: 15px;
				}
			}
			span {
				margin-right: 13px;
			}
		&:after {
			z-index: -1;
			content: "";
			position: absolute;
			right: 0;
			top: 0;
			width: 50vw;
			height: 100%;
			background-color: #293db9;
		}
	}
		.analytics {
			width: calc(50% - .7rem);
			margin-right: 14px;
			margin-right: 1.4rem;
			.col-7, .col-5 {
				padding-right: 4.5%;
				a {
					color: #19191b;
					font-weight: bold;
					text-decoration: underline;
					font-size: 16px;
					&:hover {
					color: #293db9;
				}
				}
				h4 > a {
					color: #293db9;
					text-decoration: none;
				}
				.meta {
				position: relative;
				z-index: 1;
				margin-bottom: 0;
				font-weight: bold;
				.icon:before {
					font-size: 15px;
				}
				span {
					margin-right: 13px;
				}
			}
			}
			h4 {
				text-transform: none;
				margin-bottom: 8px;
			}

		}
		.development {
			width: calc(50% - .7rem);
			padding-right: 21px;
			.meta {
				position: relative;
				z-index: 1;
				margin-bottom: 25px;
				font-weight: bold;
				.icon:before {
					font-size: 15px;
				}
			}
			span {
					margin-right: 13px;
				}
				a {
					color: #19191b;
					font-weight: bold;
					text-decoration: underline;
					font-size: 16px;
					&:hover {
						color: #293db9;
					}
				}
				p {
					color: #19191b;
				}
				h4 > a {
					color: #293db9;
					text-decoration: none;
				}
				h4 {
				text-transform: none;
				margin-bottom: 8px;
				margin-top: 0;
			}
			h5 {
				margin: 0;
			}

		}
		.categories-analytics {
			margin-bottom: 27px;
			h5 {
				display: inline-block;
				margin-top: 0;
				margin-bottom: 0;
			}
			a.current {
					color: #303032;
					text-decoration: none;
					&:hover {
						font-weight: normal;
					}
				}
			h5 > a {
				display: inline-block;
				text-transform: none;
				text-decoration: underline;
				font-weight: normal;
				margin-right: 5px;
				margin-left: 5px;

				&:hover {
					font-weight: bold;
					margin-right: 6px;
					margin-left: 6px;
				}
			}
			h5:first-child > a {
				margin-left: 0;
				&:hover {
					margin-left: 0;
				}
			}
			h5:last-child > a {
				margin-right: 0;
				&:hover {
					margin-right: 0;
				}
			}
		}	
	}
#articles {
	.left-side-c {
		padding-bottom: 30px;
			&:before {
				background:#fff;
			}
		}
	.articles-list {
		padding-right: 21px;
		h4 {
			text-transform: none;
			margin-bottom: 5px;
			a {
			color: #293db9;
			text-decoration: none;

			}
		}
		a {
			font-size: 16px;
			color: #19191b;
			font-weight: bold;
			text-decoration: underline;
			&:hover {
					color: #293db9;
				}
		}

	}
	span {
		margin-right: 13px;
	}
}
}
#analytics-category {
	#dev-ana {
		.left-side-c {
			padding-bottom: 3.2rem;
		}
	}
}
#analytics-single {
	.site-wrapper {
		background: #EFEFEF;
	}
	h2 {
		margin-bottom: 0;
		margin-top: -28px;
		margin-top: -2.8rem;
		position: relative;
		display: inline-block;
	}
	.left-side-c {
		margin-top: 32px;
		margin-top: 3.2rem;
		padding-bottom: 103px;
		padding-bottom: 0.3rem;
		&:before {
			background-color: #FFF;
		}
		.caption-first {
			float: right;
			position: relative;
			margin-left: 25px;
			h5 {
				text-transform: none;
				padding: 15px 0 15px 36px;
				left: 25px;
				color: #fff;
				position: relative;
				&:before {
					height: 18%;
					z-index: -1;
					background: #1720e1;
					content: "";
					position: absolute;
					left: 22px;
					width: 100vw;
					bottom: 0;
				}
			}
		}
		.caption-second {
			float: left;
			position: relative;
			padding-right: 10px;
			h5 {
				color: #fff;
				padding: 15px 0;
				text-transform: none;
				position: relative;
				&:before {
					height: 18%;
					z-index: -1;
					background: #1720e1;
					content: "";
					position: absolute;
					right: 13px;
					width: 100vw;
					bottom: 0;
				}
			}
		}	   
		.first, .second {
			width: 390px;
		}
		.first {
			float: right;
			margin-bottom: 2.9rem;
		}
		.second {
			float: left;
			position: relative;
			z-index: -1;
		}
	}
	#similar-articles {
		h3 {
			text-transform: none;
		}
		.col-3-gutter {
			h3 {
			a {
				text-decoration: underline;
				color: $main-color;
				font-weight: bold;
			}
			}
			a {
				text-decoration: underline;
				color: #19191b;
				font-weight: bold;
				&:hover {
					color: $main-color;
				}
			}
			span {
				margin-right: 13px;
				font-weight: bold;
			}

		}
	}
}
#professions-page {
	#professions {
		margin-top: 3.7rem;
		padding-bottom: 60px;
		background: #FFFFFF;
		h3 {
			margin-bottom: 8px;
			text-transform: none;
			border-bottom: $main-color 2px solid;
			display: inline-block;
			position: relative;
			left: 20px;
			&:before {
				content: "\f10c";
				font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				position: absolute;
				left: -3px;
				top: 50%;
				-webkit-transform: translate(-100%, -50%);
				   -moz-transform: translate(-100%, -50%);
					-ms-transform: translate(-100%, -50%);
					 -o-transform: translate(-100%, -50%);
						transform: translate(-100%, -50%);
			}
		}
		ul {
			margin: 0 0 0 20px;
			padding: 0;
			li {
				display: block;
				margin-bottom: 6px;
				padding-right: 24%;
			}
			a {
				color: #19191b;
				text-decoration: underline;
				&:hover {
					color: $main-color;
				}
			}
		}
		a {
			text-decoration: underline;
		}
		h2 {
			margin-top: -2.2rem;
			margin-bottom: 0;
		}
		.sort-by {
			a, span {
				margin-right: 30px;
				&:hover {
					color: #19191b
				}
			}
		}
	}
}
#courses-all-page {
	background: #efefef;
}
#courses-all {
	margin-top: 30px;
	margin-bottom: 60px;
	.online {
		.col-6 {
			padding-right: 30px;
		}
		li {
			margin-bottom: 7px;
		}
	}
	h2 {
		margin-top: -2.2rem;
		color: #303032;
	}
	.online h3 { 
		text-transform: none; 
		word-break: break-word;
		padding-left: 5px;
		&:before {
			content: "\f10c";
			font: normal normal normal 14px/1 FontAwesome;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			position: relative;
			left: -3px;
			top: 4.5%;
			-webkit-transform: translate(-100%, -50%);
			transform: translate(-100%, -50%);
		}
		a {
			color: #19191b;
			text-decoration: none;
			border-bottom: 2px solid $main-color;
		}
		span {
			font-weight: normal;
			color: $main-color;
		}
	}
	ul {
		padding-left: 22px;
		li {
			list-style: none;
			a {
				color: #19191b;
				text-decoration: underline;
				&:hover {
					color: $main-color;
					text-decoration: underline;
				}
			}
		}
	}
	button {
		margin-left: 0;
	}
	.video-grid {
		padding: 0 15px 0 11px;
		background: #fff;
		.video-wrapper {
			width: 100%;
		}
	}
}
#universities-single {
	.site-wrapper {
		background: #EFEFEF;
	}
	.features-contact {
		margin-top: 15px;
		width: 24.5%;
		float: left;
		position: relative;
		h3 {
			margin: 0;
			text-transform: none;
		}
		button {
			margin: 10px 0;
			width: 100%;
		}
		img {
			width: 100%;
		}
		a[href^="http://"],
		a[href^="www."] {
			text-decoration: underline;
		}
		ul {
			margin: 0;
			padding: 0;
			p {
				font-size: 1.8rem;
				margin: 0;
				padding-left: 20px;
			}
			li {
				margin-top: 10px;
				font-size: 1.8rem;
				font-weight: bold;
				display: block;
				&:before {
					margin-right: 5px;
					font: normal normal normal 14px/1 FontAwesome;
					font-size: inherit;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					content: "\f10c";
				}
			}
		}
	}
	.uni-bio {
		margin-top: 15px;
		width: 74.5%;
		float: right;
		border: 2px solid $main-color;
		padding: 40px 20px;
		background: #FFF;
		strong {
			font-size: 1.6rem;
		}
		h2 {
			margin-top: 0;
		}
		.main-text p{
			font-size: 1.6rem;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	#professions {
		background: #FFF;
		.wrapper {
			@include cf();
		}
		margin-top: 10rem;
		padding-bottom: 50px;
		h2.separator {
			margin-bottom: 1.5rem;
			margin-top: -2.3rem;
		}
		.sort-by a,
		.sort-by span {
			margin-right: 10px;
		}
		button {
			margin-bottom: -7rem;
		}
		h3 {
			position: relative;
			margin: 5px 0;
			text-transform: none;
			display: inline-block;
			text-decoration: none;
			a {
				color: #19191b;
				text-decoration: none;
				border-bottom: $main-color 2px solid;
			}
			&:before {
				content: "\f10c";
				font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				position: absolute;
				left: -3px;
				top: 50%;
				-webkit-transform: translate(-100%, -50%);
				   -moz-transform: translate(-100%, -50%);
					-ms-transform: translate(-100%, -50%);
					 -o-transform: translate(-100%, -50%);
						transform: translate(-100%, -50%);
			}
		}
		ul {
			margin: 0;
			padding: 0;
			li {
				display: block;
				padding-right: 50%;
				margin-bottom: 0.5rem;
			}
			a {
				color: #19191b;
				text-decoration: underline;
				&:hover {
					color: $main-color;
				}
			}
		}
	}
	#course-list-1 {
		background: url(/images/building-uni-single.png);
		background-position: bottom left;
		background-repeat: no-repeat;
		background-size: 270px;
		padding-bottom: 50px;
		.courses-item {
			background: #FFF;
		}
	}
	#development-list {
		h2 {
			margin-top: -2.3rem;
			margin-bottom: 10px;
		}
		.sort-by {
			margin-bottom: 1%;
		}
		button {
			clear: both;
			margin: 0 auto -18px;
		}
	}
	.development-item {
		margin-right: 1%;
		width: 24%;
	}
	#course-list-2 {
		padding-bottom: 50px;
		.courses-item {
			background: #FFF;
		}
	}
	.video-grid {
		h2 {
			margin-top: -2.3rem;
		}
		.categories {
			margin: 0 0 20px 0;
			padding: 0;
			a {
				text-decoration: none;
				border-bottom: 2px solid $main-color;
				font-weight: bold;
				color:#2d2d2f;
			}
			li {
				display: inline-block;
			}
		}
		button {
			clear: both;
			margin: 0 auto -18px;
		}
	}
}
#single-courses {
	&.applied {
		.building-bg {
			padding-bottom: 3rem;
			background-size: 25% auto;
		}
		#primary {
			#continue-btn {
				padding: 13px 20px;
				margin: 1rem auto -2.3rem auto;
				h4 {
					margin: 0;
				}
			}
			#course-program {
				margin-top: 1rem;
				.course-name {
					position: relative;
					padding-left: 2.5rem;
					.fa {
						left: 0;
						top: 50%;
						position: absolute;
						transform: translateY(-50%);
					}
				}
				.fa {
					color: $main-color;
					font-size: 2rem;
				}
			}
			.left-side-c {
				margin-top: 7.4rem;
			}
		}
	}
	.building-bg {
		background: url(/images/building-courses-single.png);
		background-position: bottom right;
		background-repeat: no-repeat;
		background-size: 35% auto;
		padding-bottom: 7.7rem;
	}
	.site-wrapper {
		background: #EFEFEF;
	}
	.video-grid {
		background: #FFF;
		h2 {
			margin-top: -2.3rem;
		}
	}
	#primary {
		@include cf();
		width: 74.5%;
		float: left;
		margin-top: 2.8rem;
		h2 {
			display: inline-block;
			margin-top: -2.3rem;
			margin-bottom: 0;
		}
		#course-program {
			background: #FFF;
			margin-top: 4.5rem;
			border-bottom: 9px solid $main-color;
			h2 {
				margin-top: -2.3em;
			}
			ul {
				margin: 0;
				padding: 0;
			}
			a {
				display: block;
				margin: 0 15px;
				padding: 15px 0;
				border-bottom: $main-color 1px solid;
				transition: all .3s ease;
				span, h6, i { transition: all .3s ease; }
				&:last-child {
					border-bottom: 0;
				}
				&:hover {
					padding: 15px;
					margin: 0;
					background: $main-color;
					*{color: #FFF !important;}
				}
			}
			li {
				@include cf();
				display: flex;
				align-items: center;
			}
			.course-name {
				width: 85%;
				max-width: calc(100% - 110px);
				float: left;
				padding-right: 10px;
				color: #19191b;
			}
			.format {
				min-width: 110px;
				@include cf();
				width: 15%;
				float: left;
				text-align: right;
				position: relative;
				color: #19191b;
				i {
					line-height: 0;
					position: absolute;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					color: $main-color;
					font-size: 2.3rem;
				}
			}
			.course-type {
				margin: 0;
				display: inline-block;
				color: $main-color;
			}
		}
		.left-side-c {
			padding: 10px 15px;
			padding-bottom: 10px;
			&:before {
				background: #FFF;
			}
		}
		.gained-list {
			@include cf();
			li {
				color: $main-color;
				display: block;
				position: relative;
				margin-bottom: 20px;
				&:before {
					font: normal normal normal 14px/1 FontAwesome;
					font-size: 25px;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					top: 0;
					content: "\f1db";
					left: -25px;
					position: absolute;
				}
				&:nth-of-type(even) {
					width: 50%;
					float: right;
				}
				&:nth-of-type(odd) {
					width: 50%;
					float: left;
					padding-right: 40px;
				}
			}
		}
		.gained-from-course {
			display: table;
			margin-top: -.7rem;
			position: relative;
			z-index: 10;
			color: #FFF;
			padding: 6px 0;
			padding-right: 10px;
			&:before {
				height: 100%;
				z-index: -1;
				background: $main-color;
				content: "";
				position: absolute;
				right: 0;
				top: 0;
				width: 100vw;
			}
			* {
				text-transform: none;
				margin: 0;
			}
		}
	}
	#sidebar {
		@include cf();
		width: 24.5%;
		margin-top: 3.8rem;
		float: right;
		a {
			position: relative;
			color: #19191b;
			display: block;
			padding: 8px 0;
			li {
				display: block;
				font-size: 1.6rem;
			}
			&:hover {
				color: $main-color;
				font-weight: bold;
			}
			&:before {
				font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				color: $main-color;
				content: "\f1db";
				font-size: 2.5rem;
				position: absolute;
				left: -25px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		ul {
			margin: 0;
		}
		.training {
			margin-bottom: 30px;
		}
		.course-teacher {
			img {
				width: 100%;
				margin: 10px 0;
			}
			h5 {
				margin: 0;
			}
			p {
				margin-top: 0;
			}
		}
		.course-provided {
			ul {
				padding: 0;
			}
			li {
				@include cf();
				display: block;
				margin: 10px 0;
				.img-wrapper {
					float: left;
					width: 64px;
					position: relative;
					img {
						width: 64px;
						height: 64px;
						-webkit-border-radius: 100%;
								border-radius: 100%;
					}
				}
				.uni-content  {
					height: 64px;
					float: left;
					display: flex;
					align-items: left;
					flex-direction: column;
					justify-content: center;
					width: calc(100% - 64px);
					padding-left: 10px;
					.icon {
						font-weight: bold;
						&:before {
							font-size: 23px;
							position: relative;
								top: 3px;
						}
					}
					p {
						margin: 0;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
						overflow: hidden;
					}
				}
			}
		}
	}
}
#additional, #preuniversity-all {
	.site-wrapper {
		background: #EFEFEF;
	}
	#courses-list {
		background: #FFF;
		margin-top: 4.5rem;
		h2 {
			margin-top: -2.3rem;
			margin-bottom: 0;
		}
		.col-12 > .col-6 {
			padding: 22px 0;
			span,
			a {
				margin-right: 8px;
			}
		}
		.wrapper {
			position: relative;
			padding-bottom: 70px;
			.fa.fa-circle-thin {
				bottom: 0;
				left: 50%;
				position: absolute;
				-webkit-transform: translate(-56%, 50%);
				   -moz-transform: translate(-56%, 50%);
					-ms-transform: translate(-56%, 50%);
					 -o-transform: translate(-56%, 50%);
						transform: translate(-56%, 50%);
						&:before {
							font-size: 7rem;
						}
			}
		}
	}
	.courses-item {
		width: 24%;
		margin-bottom: 1%;
	}
	.sort-by,
	.group-by {
		span {
			font-size: 1.4rem;
		}
	}
}

#events {
	.site-wrapper {
		background: #EFEFEF;
	}
	#events-list {
		background: #FFF;
		margin-top: 4.5rem;
		position: relative;
		.wrapper {
			padding-bottom: 70px;
		}
		.sort-by,
		.search {
			margin-bottom: 2rem;
		}
		h2 {
			margin-top: -2.3rem;
			margin-bottom: 0;
			color: #2d2d2f;
		}
		.development-item {
			width: calc(25% - 10px);
			margin-right: 10px;
			margin-bottom: 10px;
			&:nth-of-type(4n) {
				margin-right: 0;
			}
			&:nth-last-child,
			&:nth-last-child(2),
			&:nth-last-child(3),
			&:nth-last-child(4) {
				margin-bottom: 80px;
			}
		}
		.fa.fa-circle-thin {
			bottom: 0;
			left: 50%;
			position: absolute;
			-webkit-transform: translate(-56%, 50%);
			   -moz-transform: translate(-56%, 50%);
				-ms-transform: translate(-56%, 50%);
				 -o-transform: translate(-56%, 50%);
					transform: translate(-56%, 50%);
					&:before {
						font-size: 7rem;
					}
		}
	}
}
#events-single {
	background: #EFEFEF;
		#sidebar {
		width: 37%;
		margin-top: 3.8rem;
		float: left;
		.direction {
			p {
				font-size: 16px;
			}
		ul li {
			list-style: none;
			position: relative;
			margin-bottom: 20px;
			font-weight: bold;
			font-size: 16px;
			i {
				position: relative;
				margin-right: 8px;
				&:before {
					font-size: 0.9rem;
					color: #1720e1;
					top: -2px;
					position: relative;
				}
			}

		}
		}
		.sidebar-title.event {
			padding: 9px 15px;
			text-align: right;
			position: relative;
			z-index: 1;
		&:before {
			position: absolute;
			content: "";
			top: 0;
			right: 0;
			width: 100vw;
			height: 100%;
			z-index: -1;
			background: #1720e1;
		}
		h4 a {
			color: #fff;
		}
		
	}
	.development-item {
		width: 100%;
	}
}
#primary {
	width: 60%;
	float: right;
	margin-top: 2.8rem;
}
h2 {
	margin-top: -2.6rem;
}
.center {
	background-color: #fff;
	padding: 0 2.7%;
	margin-top: 3.7rem;
}
	.meta {
		position: relative;
		z-index: 1;
		margin-bottom: 12px;
		span {
			margin-right: 13px;
			font-weight: bold;
		}
	}

	.highlight {
		color: #FFF;
		padding-right: 7%;
	&:after {
		z-index: -1;
		content: "";
		position: absolute;
		right: 0;
		top: 0;
		width: 50vw;
		height: 100%;
		background-color: #293db9;
	}
	a {
		color: #FFF;
	text-decoration: underline
	}
	}
	.development-item:nth-of-type(2n) {
		margin-right: 1%;
	}
	.development-item:nth-of-type(4n) {
		margin-right: 0;
	}
	.events-company {
		background-color: #fff;
		button {
			position: relative;
			z-index: 0;
			margin-bottom: calc(-0.8rem - 10px);
		}
	}
#dev-ana {
	margin-top: 7rem;
	background: #EFEFEF;
	position: relative;
	padding-bottom: 70px;
	&:before {
		content: '';
		background-position: 106.6% 105%;
		background-size: 31vw;
		background-repeat: no-repeat;
		background-image: url(/images/building-course.png);
		position: absolute;
		height: 100%;
		width: 100vw;
		right: 0;
	}
	h4, h5 {
		position: relative;
	z-index: 1;
	text-transform: none;
	margin: 13px 0;
	}
	button {
			float: left;
			margin-top: 6px;
	}
	.analytics-list {
		a {
			color: #19191b;
			text-decoration: underline;
			font-weight: bold;
		}
		h4 {
			color: #293db9;
		}
	}
}	
}
#single-popup-profession {
	.description {
		margin: 0 !important;
		background: #FFF;
		float: left;
		border: 1px solid #1720e1;
		border-bottom: 17px solid #1720e1;
		background: #f9f8f6;
		padding-bottom:1.3rem;
		h5 {
			text-transform: none;
			color: #1720e1;
			padding-left: 1rem;
			padding-right: 1rem;
			i {
				color: #121111;
				font-style: normal;
				font-weight: normal;
			}
		}
		p {
			padding-left: 1rem;
			padding-right: 1rem;
		}
		.scrollbar {
			height: 500px;
			padding: 3.2rem 4rem;
			overflow-x: hidden;
			h2 {
				margin-top: 0;
			}
			ul {
				padding-left:10px;

			li {
			list-style: none;
			position: relative;
			margin-bottom: 20px;
			i {
				position: relative;
				margin-right: 8px;
				&:before {
					font-size: 0.9rem;
					color: #1720e1;
					top: -2px;
					position: relative;
				}
			}
		}
		}
		}
		.special {
			padding: 1.2rem 4rem 3.2rem;
			background: #fff;
			h2 {
			margin-top: -3.2rem;
		}
		ol {
			padding-left: 10px;
		 li > h5 {
			margin-bottom: 8px;
			margin-top: 0;
		}
		}
		}
		.right-side-c {
			&:before {
				z-index: -1;
				display: block!important;
				position: absolute;
				background-color: #fff;
				left: 0;
				content: "";
				height: 100%;
				width: 100%;
				background-image: url(/images/header-right.png);
				background-repeat: no-repeat;
				background-size: 5vw auto;
				background-position: 99% 105.6%;
			}
		}
	}

}
#professions-page {
	.header-left {
		h3 {
			a {
				&:last-child {
					color:#000;
				}
			}
		}
	}
	.site-wrapper {
		background: #EFEFEF;
	}
	#articles {
		h2:not(.separator) {
			margin-top: 7rem;
		}
		h2.separator {
			color:#2d2d2f;
		}
		h4 {
			margin: 0;
			text-transform: none;
			&:not(.article-title) {
				padding-right: 40px;
			}
		}
		a {
			text-decoration: underline;
			color: #000;
			&:hover {
				color: $main-color;
			}
		}
		.meta span {
			margin-right: 20px;
		}
		.articles-list {
			@include cf();
			margin-top: 4rem;
			.icon {
				&:before {
					font-size: 14px;
				}
			}
		}
	}
	&.sorted-alpha {
		#professions h3 {
			color: $main-color !important;
			border-bottom: 0 !important;
			&:before {
				content: none !important;
			}
		}
	}
}
#partners {
	.small-left-side-c {
		z-index: 100;
		margin-top: 40px;
		padding-right: 135px;
		&:before {
			background-image: url(/images/building-partners.png);
			background-repeat: no-repeat;
			background-position: 102.5% 113%;
		}
	}
	h2 {
		margin-bottom: 0;
		margin-top: -32px;
		margin-top: -3.2rem;
		position: relative;
		display: inline-block;
	}
	.site-wrapper {
		background: #efefef;
	}
	.partners-wrapper {
		margin-top: -6.2rem;
		position: relative;
		display: flex;
		z-index: 1;
		flex-wrap: wrap;
		-webkit-flex-direction: row;
			-ms-flex-direction: row;
				flex-direction: row;
		&:before {
			z-index: -1;
			content: "";
			position: absolute;
			background: $main-color;
			padding: 17px;
			width: 100vw;
			right: 0;
			top: 50%;
			-webkit-transform: translateY(-50%);
			   -moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				 -o-transform: translateY(-50%);
					transform: translateY(-50%);
			height: 100%;
		}
		.partner {
			width: 20%;
			display: flex;
			justify-content: center;
			align-items: center;
			width: calc(25% - 12px);
			margin-right: 10px;
			background: #FFF;
			padding: 10px 15px;
			margin-bottom: 10px;
			img {
				width: 100%;
			}
			h5 {
				width: 80%;
				margin: 0;
				padding: 0 0 0 15px;
				-ms-word-wrap: break-word;
					word-wrap: break-word;
			}
			&:nth-of-type(1), 
			&:nth-of-type(2), 
			&:nth-of-type(3), 
			&:nth-of-type(4) {
				margin-top: 100px;
			}
		}
	}
}
#about {
	header {
		margin-top: 58px;
	}
	.site-wrapper {
		background: #EFEFEF;
	}
	.left-side-c {	
		margin-top: 3.2rem;
		padding-right: 29.3rem;
		padding-bottom: 10.3rem;
		&:before {
			right: 55px;
			background-color: #FFF;
			background-position: 123.6% 143%;
			background-size: 607px 348px;
			background-repeat: no-repeat;
			background-image: url(/images/building-about.png);
		}
		p {
			width: calc(100% - 55px);
		}
	}
	h2 {
		margin-bottom: 0;
		margin-top: -3.2rem;
		position: relative;
		display: inline-block;
	}
}
#home {
	main .container {
		background: #FFF;
		&:nth-of-type(odd) {
			background: #efefef;
			padding: 50px 0;
		}
		&:first-child {
			padding-top: 57px;
			padding-bottom: 59px;
		}
	}
	#sectors {
		padding: 0;
		margin: 0;
		border-top: 1px solid $main-color;
		border-left: 1px solid $main-color;
		.text-wrapper {
			p { color: #19191b; }
			h4 {
				margin-top: 4px;
				-webkit-transition: margin .5s ease;
				   -moz-transition: margin .5s ease;
					-ms-transition: margin .5s ease;
					 -o-transition: margin .5s ease;
						transition: margin .5s ease;
				color: $main-color; 
			}
			width: 50%;
			padding-left: 15px;
			transition: all .5s ease;
		}
		a {
			display: block;
			color: transparent;
		}
		.sectors-svg {
			position: absolute;
			transform: translateX(-50%);
			path {
				fill:none;
				stroke:$main-color;
				stroke-width:2;
				stroke-miterlimit:10;
			}
		}
		.col-4 {
			height: 0;
			overflow: hidden;
			cursor: pointer;
			padding-top: 28%;
			background-color: #FFF;
			transition: all .5s ease;
			border-right: 1px solid $main-color;
			border-bottom: 1px solid $main-color;
			&:hover,
			&:active,
			&:focus {
				background-color: $main-color;
				.text-wrapper h4 { color: #FFF; margin-top: 4px; }
				.text-wrapper p { color: #FFF; }
				svg path { stroke: #FFF; }
			}
		}
		#uni-prep .sectors-svg {
			left: 95%;
			width: 127%;
			bottom: -14px;
		}
		#unis .sectors-svg {
			left: 85%;
			width: 124%;
			bottom: -16px;
			transform: scale(0.9) translateX(-50%);
		}
		#additional-ed .sectors-svg {
			left: 85%;
			width: 94%;
			bottom: -14px;
		}
		#online-courses .sectors-svg {
			left: 82%;
			width: 90%;
			bottom: -14px;
		}
		#analytics .sectors-svg {
			left: 78%;
			width: 80%;
			bottom: 0;
		}
		#developments .sectors-svg {
			left: 79%;
			width: 101.5%;
			bottom: 0;
		}
	}
	#popular {
		padding-top: 42.2%;
		h4 {
			margin: 0;
			padding-left: 10px;
			> a {
				color: $main-color;
				font-size: 16px;
			}
		}
		ul {
			margin: 0;
			padding: 0;
		}
		a {
			color: #19191B;
		}
		.item {
			display: flex;
			justify-content: center;
			align-items: center;
			transition: all .4s ease;
			padding: 10px 0;
			&:hover,
			&:active,
			&:focus {
				background: $main-color;
				p {
					color: #FFF;
				}
				img {
					border-color: #FFF !important;
				}
			}
			div {
				margin: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				padding: 0 10px;
			}
			p {
				margin: 0;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.img-container {
				width: 35%;
				img {
					padding: 5px;
					transition: all .4s ease;
					border: #272729 1px solid;
					border-radius: 100%;
					width: 44px;
					height: 44px;
				}
			}
			.text-container {
				width: 65%;
				p {
					transition: all .4s ease;
				}
			}
		}
	}
	#professions {
		button {
			position: relative;
			z-index: 0;
			margin-bottom: calc(-0.8rem - 10px);
		}
		.separator {
			margin-top: -2.3rem;
		}
		h5 {
			margin: 5px 0;
			text-transform: none;
			display: inline-block;
			text-decoration: none;
			a {
				color: #19191b;
				text-decoration: none;
				border-bottom: $main-color 2px solid;
			}
		}
		.col-3:nth-of-type(5n),
		.col-3:nth-of-type(6n),
		.col-3:nth-of-type(7n),
		.col-3:nth-of-type(8n) {
			margin-bottom: 4.0rem;
			h5 {
				margin-top: 1.2rem;
			}
		}
		ul {
			margin: 0;
			padding: 0;
			li {
				display: block;
				padding-right: 50%;
				margin-bottom: 0.5rem;
			}
			a {
				color: #19191b;
				text-decoration: underline;
				&:hover {
					color: $main-color;
				}
			}
		}
	}
	#dev-ana {
		h2 {
			margin-bottom: 0;
			text-transform: none;
			color: #2d2d2f;
		}
		.small-special {
			float: left;
			clear: none;
			width: calc(50% - .7rem);
			margin-right: 1.4rem;
			&:nth-of-type(2n) {
				margin-right: 0;
			}
			img{
				width: 100%;
			}
		}
		.analytics {
			width: calc(50% - .7rem);
			margin-right: 1.4rem;
			.col-6-gutter {
				width: 49%;
				margin-right: 2%;
				&:nth-of-type(odd) {
					margin-right: 0;
				}
				> a {
					text-decoration: underline;
					color: #19191b;
					font-weight: bold;
					&:hover {
						color: $main-color;
					}
				}
				span {
					margin-right: 13px;
					font-weight: bold;
				}
			} 
			h3 {
				margin: 7px 0;
				margin-top: 26px;
			}
			.categories-analytics {
				padding-top: 20px;
				@include cf();
				@include stack();
				a {
					display: inline-block;
					h4 {
						text-transform: none;
						display: inline-block;
						margin: 0;
					}
					&:first-child:before  {
						content: none;
					}
					&:nth-of-type(even):before {
						content: " | ";
					}
				}
			}
		}
		#development {
			width: calc(50% - .7rem);
			#dev {
				margin: 10px 0;
			}
		}

		.highlight{
			color: #FFF;
			padding-right: 7%;
			.meta {
				position: relative;
				z-index: 1;
				margin-bottom: 12px;
			}
			.meta span {
				font-weight: bold;
			}
			a {
				color: #FFF;
				text-decoration: underline;
				&:hover {
					color: #19191b;
				}
			}
			&:after {
				z-index: 0;
				content: "";
				position: absolute;
				right: 0;
				top: 0;
				width: 50vw;
				height: 100%;
				background-color: #293db9;
			}
			h4,
			h5 {
				position: relative;
				z-index: 1;
				text-transform: none;
				margin: 13px 0;
			}
			h4 {
				margin-bottom: 0;
			}
			span {
				margin-right: 13px;
			}
		}
	}
#courses-all {
	.online {
				.col-6-gutter {
				width: 49%;
				margin-right: 2%;
				&:nth-of-type(odd) {
					margin-right: 0;
				}
				> a {
					text-decoration: underline;
					color: #19191b;
					font-weight: bold;
					&:hover {
						color: $main-color;
					}
				}
				span {
					margin-right: 13px;
					font-weight: bold;
				}
			}
		}
}	
	#courses {
		padding-bottom: 40px;
		.categories {
			margin: 0 0 20px 0;
			padding: 0;
			a {
				text-decoration: none;
				border-bottom: 2px solid $main-color;
				font-weight: bold;
				color:#2d2d2f;
			}
			li {
				display: inline-block;
			}
		}
		h2.separator {
			color:#2d2d2f;
		}
		h2.separator span{
			font-weight: 300;
			@include responsive-font(2.34vw, 28px, 34px, 30px);
		}
	}
	#university-advanced-ed {
		padding: 0;
		h2 {
			margin: 0;
			margin-top: -2.2rem;
		}
		#advanced-ed {
			.col-6-gutter {
				@include col(.5, $gutter: 2, $cycle: 2);
			}
			h2 {
				color:#2d2d2f;
			}
		}
		#university {
			#uni-special img {
				width: 100%;
			}
			h2 {
				color:#2d2d2f;
			}
			.catogories{
				display: block;
				padding: 0;
				margin-bottom: 20px;
				@include cf();
				li {
					float: left;
					margin-right: 10px;
					display: block;
					a {
						position: relative;
						padding-bottom: 2px;
						color: #19191b;
						font-weight: bold;
						border-bottom: #19191b 1px dashed;
						transition: all .3s ease;
						&:hover {
							color: $main-color;
						}
					}
					&.active a {
						color: $main-color;
						border-bottom: rgba(0,0,0,0) 1px dashed;
					}
				}
			}
			.scrollbar {
				clear: both;
				max-height: 522px;
				ul {
					padding: 0;
					li {
						display: flex;
						margin-bottom: 10px;
						-webkit-flex-direction: row;
							-ms-flex-direction: row;
								flex-direction: row;
						a {
							width: 80%;
							display: inherit;
							color: #19191b;
							&:hover {
								color: #1720e1;
							}
							&:hover span {
								color: #19191b;
							}
						}
						.img-wrapper {
							display: flex;
							width: 30%;
							position: relative;
							img {
								position: absolute;
								left: 50%;
								top: 50%;
								-webkit-transform: translate(-50%, -50%);
								   -moz-transform: translate(-50%, -50%);
									-ms-transform: translate(-50%, -50%);
									 -o-transform: translate(-50%, -50%);
										transform: translate(-50%, -50%);
								width: 74px;
								height: 74px;
								-webkit-border-radius: 100%;
										border-radius: 100%;
							}
						}
						.number {
							color: $main-color;
							margin: 0;
							font-size:7.2rem;
							font-weight: bold;
							display: flex;
							width: 20%;
							-webkit-align-items: center;
									align-items: center;
							-webkit-justify-content: center;
									justify-content: center;
						}
						.uni-content  {
							width: 70%;
							.icon {
								font-weight: bold;
								&:before {
									font-size: 23px;
									position: relative;
									top: 3px;
								}
							}
							p {
								display: -webkit-box;
								-webkit-line-clamp: 2;
								-webkit-box-orient: vertical;
								overflow: hidden;
								margin-bottom: 15px;
								a {
									color: #000;
									text-decoration: underline;
									&:hover {
										color: $main-color;
										font-weight: bold;
										text-decoration: underline;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	#companies {
		margin-top: -50px;
		h2 {
			text-transform: none;
		}
		.company-wrapper {
			display: flex;
			-webkit-flex-direction: row;
				-ms-flex-direction: row;
					flex-direction: row;
		}
		.company-logo {
			display: flex;
			-webkit-flex-direction: column;
				-ms-flex-direction: column;
					flex-direction: column;
			padding-right: 10%;
			img {
				width: 100%;
			}
			> div {
				display: flex;
				margin-top: 15px;
				-webkit-flex-direction: row;
					-ms-flex-direction: row;
						flex-direction: row;
				span {
					display: flex;
					width: 100%;
					&:before {
						margin-right: 10px;
						font-size: 20px;
						font-weight: bold;
						line-height: .5;
					}
				}
			}
		}
	}
}
#master {
	-webkit-transition: opacity .7s ease;
	   -moz-transition: opacity .7s ease;
	    -ms-transition: opacity .7s ease;
	     -o-transition: opacity .7s ease;
	        transition: opacity .7s ease;
	.col-12 {
		@include stack();
		@include cf();
	}
	&.showmodal {
		bottom: auto;
		right: auto;
		position: absolute;
		width: 100%;
		top: 66px;
		left: -24px;
		.modal {
			max-height: 90vh;
			-webkit-transform: scaleY(1);
			        transform: scaleY(1);
		}
	}
	.popup-bg {
		cursor: pointer;
		position: fixed;
		background:rgba(239, 239, 239, 0.8);
	}
	.modal {
		-webkit-transition: transform .3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
		   -moz-transition: transform .3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
		    -ms-transition: transform .3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
		     -o-transition: transform .3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
		        transition: transform .3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
		top: auto;
		left: auto;
		-webkit-transform-origin: top center;
		   -moz-transform-origin: top center;
		    -ms-transform-origin: top center;
		     -o-transform-origin: top center;
		        transform-origin: top center;
		-webkit-transform: scaleY(0);
		        transform: scaleY(0);
		overflow-y: hidden;
		.xl.fa-circle-thin {
			position: relative;
			text-decoration: underline;
			margin-left: 30px;
			font-size: 16px;
			clear: both;
			margin-right: 10px;
			&:before {
				font-size: 30px;
				line-height: 0;
				position: absolute;
				left: -30px;
				left: -3rem;
				top: 50%;
				-webkit-transform: translateY(50%);
				transform: translateY(50%);
			}
		}
		.close {
			position: absolute;
			right: 1%;
			font-size: 21px;
			font-weight: bold;
			top: 0;
		}
		.choise {
			margin: 12px 0 20px 0;
			span a {
				color: #787878;
			}
			.custom-checkbox input[type=checkbox]:checked+label:before {
				content: "\f046";
				color: #1720e1;
			}
			.custom-checkbox label:before {
				color: #19191b;
				content: '\f096';
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				transition: all .3s ease;
				font-size: 20px;
				line-height: 0;
				position: absolute;
				left: -25px;
				top: 50%;
				-webkit-transform: translateY(-50%);
				transform: translateY(-50%);
			}

		}
		.master {
			background: #fff;
			border: 1px solid #161fe0;
			padding: 12px 23px 0 23px;
			margin: 0 0 20px 0;
			button {
				margin: 0 auto;
				position: relative;
				top: 18px;
			}
		}
		.custom-checkbox b {
			font-size: 1.4rem;
			color: $main-color;
		}
		label > span {
			margin-left: 6px;
			font-size: 14px;
			color: #1720e1;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
footer {
	p{font-size: 1.1rem;}
	h6 {
		margin: 7px 0;
	}
	.footer-col {
		width: 16.8%;
		float: left;
		padding-right: 10px;
		a {
			font-size: 1.1rem;
			color: #19191b;
			text-decoration: underline;
			word-break: break-word;
			&:hover {
				color: $main-color;
			}
		}
		li {
			line-height: 1.1rem;
			margin-bottom: .6rem;
		}
	}
	#newsletter {
		margin: 0 auto;
		font-size: 11px;
		width: 100%;
		position: relative;
		input {
			float: left;
			width: 50%;
			background: rgba(0,0,0,0);
			color: #FFF;
			border: 0;
			border-bottom: 1px solid #FFF;
			outline: none;
			&:placeholder-shown {
				color: #fefeff;
				font-size: 11px;
			}
		}
		span {
			width: 50%;
			float: right;
			text-align: right;
		}
	}
	.col-9 .col-6 {
		display: flex;
		> div {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-end;
		}
	}
	.col-9 + .col-3 {
		text-align: right;
	}
	.phone-icon {
		font-size:4.0rem;
	}
	.last-footer-col {
		text-align: right;
		p {
			margin-top: 0;
			font-size:1.1rem;
		}
		img:last-child {
			margin-top: 10px;
			max-width: 90%;
		}
	}
}
