// Min width media query for 1280px
@include media-q(laptop, min) {
	#profile {
		.video-grid {
			-webkit-background-size: 448px;
			     -o-background-size: 448px;
			        background-size: 448px;
		}
	}
}
// Max width media query for 1280px
@include media-q(laptop, max) {
	footer {
		.lower-footer {
			.last-footer-col .col-6:first-child {
				padding-right: 10px;
			}
		}
	}	
} 
@include media-q(1200px, max) {
	footer {
		.footer-col {
			width: 33.3%;
		}
	}
}
// Max width media query for 1100px
@include media-q(1100px, max) {
	#home {
		#sectors {
			width: 100%;
			clear: both;
			.col-4 {
				@include col(.5, $gutter:0);
				padding-top: 33%;
				background-size: auto 70%;
			}
		}
		#popular {
			margin-top: 20px;
			width: 100%;
			clear: both;
			padding-top: 0 !important;
			.col-container {
				position: relative;
			}
			h4 {
				margin-top: -0.5rem;
			}
			ul {
				display: block;
				height: calc(100% - 12px);
				a {
					width: 50%;
					&:nth-of-type(odd) {
						float: right;
					}
					&:nth-of-type(even) {
						float: left;
					}
				}
			}
		}
	}
	.partners-wrapper {
		flex-wrap: wrap;
		.partner {
			width: 48%;
			margin-bottom: 10px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}
@include media-q(1050px, max) {
	.company-item {
		width: 17.24%;
		&.special-company {
			width: 35.54%;
			padding-top: 374px;
		}
	}
}
// Min width media query for 1024px
@include media-q(1026px, min) {
	.nav-button {
		left: -100%;
	}
	header{
		nav {
			position: relative;
			z-index: 1;
			margin-top: -0.8rem;
			@include center(1050px);
			width: 90vw;
		}
		ul {
			padding: 0;
			margin: 0;
			display: flex;
			flex-direction: row;
			a {
				letter-spacing: 0.120rem;
				display: inline-flex;
				word-wrap: break-word;
				text-transform: uppercase;
				font-weight: 700;
				height: 57px;
				padding-right: 5%;
				display: block;
				border-bottom: #19191b 4px solid;
				&.active {
					border-bottom-color: $main-color;
					color: #19191B;
				}
				&:hover,
				&:focus,
				&:active {
					border-bottom-color: $main-color;
				//	color: #19191b;
				}
				&:last-child {
					padding-right: 22px;
				}
				li {
					line-height: 1.6rem;
					width: auto;
					display: block;
					font-size: 16px;
				}
			}
		}
	}
}
// Max width media query for 1024px
@include media-q(l-tablet, max) {
	#courses-all-page {
		.col-6.video-grid .col-6-gutter,
		.col-6.online .col-6, {
			@include stack();
		}
		#last-added .video-grid .video-wrapper {
			@include col(1/3, $gutter: 1, $cycle: 3, $uncycle: 4);
		}
	}
	.logged-in {
		> ul {
			margin: 0 0 10vw 0 !important;
		}
	}
	.opened-menu {
		nav {
			left: 0;
		}
		.nav-button {
			left: 260px;
		}
		.menu-overlay {
			opacity: 1 !important;
			visibility: visible !important;
			pointer-events: all;
		}
	}
	header {
		.menu-overlay {
			cursor: url("/images/close-cursor.png") 25 15, auto;
			content: "";
			z-index: 1000;
			position: fixed;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			background: rgba(0, 0, 0, 0.4);
			pointer-events: none;
			-webkit-transition: all .3s .5s $nav-bezier;
			   -moz-transition: all .3s .5s $nav-bezier;
			    -ms-transition: all .3s .5s $nav-bezier;
			     -o-transition: all .3s .5s $nav-bezier;
			        transition: all .3s .5s $nav-bezier;
		}
		nav {
			overflow: scroll;
			width: 100%;
			-webkit-transition: left .3s .5s $nav-bezier;
			   -moz-transition: left .3s .5s $nav-bezier;
			    -ms-transition: left .3s .5s $nav-bezier;
			     -o-transition: left .3s .5s $nav-bezier;
			        transition: left .3s .5s $nav-bezier;
			-webkit-box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, 0.4), 0 0 0 1px rgba(0,0,0,0.08);
			        box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, 0.4), 0 0 0 1px rgba(0,0,0,0.08);
			position: fixed;
			max-width: 260px;
			top: 0;
			bottom: 0;
			left: -260px;
			z-index: 1000;
			background: $main-color;
			a {
				text-transform: uppercase;
				display: block;
				color: #FFF !important;
				padding: 15px 0px;
				position: relative;
				&:after {
					content: "";
					position: absolute;
					left: 50%;
					bottom: 0px;
					height: 2px;
					width: calc(100% - 20px);
					background: rgba(255,255,255,0.1);
					-webkit-transform: translateX(-50%);
					   -moz-transform: translateX(-50%);
					    -ms-transform: translateX(-50%);
					     -o-transform: translateX(-50%);
					        transform: translateX(-50%);
				}
				&:hover,
				&:focus,
				&:active {
					background: darken($main-color, 10%);
				}
			}
			ul {
				padding: 0;
				margin: 10vw 0px 10vw 0;
				li {
					padding: 0 25px;
					display: block;
				}
			}
		}
	}
	#single-professions {
		#articles article,
		.development-item,
		.video-wrapper {
			@include col(1/3, $gutter: 1, $cycle: 3, $uncycle: 4);
		}
		.col-6 {
			&.sort-by {
				@include stack();
				@include cf();
			}
			&.search {
				@include stack();
				@include cf();
				.search-bar {
					width: 100%;
				}
			}
		}
	}
	#companies-single {
		.development-item,
		.video-wrapper {
			@include col(1/3, $gutter: 1, $cycle: 3, $uncycle: 4);
		}
		.sidebar {
			width: calc(50% - 10px);
		}
		.col-1 {
			width: 10px;
		}
	}
	#profile {
		.video-grid .video-wrapper,
		.development-item {
			@include col(1/3, $gutter: 1, $cycle: 3, $uncycle: 4);
		}
	}
	.logged-in .user-area {
		display: none;
	}
	.logged-in nav .user-nav {
		display: block;
	}
	#universities-single {
		.courses-item,
		.development-item {
			width: 32%;
		}
		.video-wrapper {
			@include col(1/3, $gutter:1, $uncycle:4, $cycle: 3);
		}
	}
	#additional {
		.courses-item {
			width: 32%;
		}
	}
	#professions .wrapper > .col-3{
		width: calc(50% - 10px);
		margin-left: 20px;
		&:nth-of-type(even) {
			float: right;
			margin-left: 0;
		}
		&:nth-of-type(6n),
		&:nth-of-type(5n) {
			margin-bottom: 0 !important;
		}
	}
	#professions-page {
		article {
			width: 49.5%;
			margin-bottom: 2rem;
			&:nth-of-type(even) {
				float: right;
				margin-right: 0;
			}
		}
	}
	#home {
		#courses .video-grid .video-wrapper {
			@include col(.33, $gutter:1, $uncycle: 4);
		}
	}
	header {
		.nav-button {
			left: 0;
		}
		nav {
			ul {
				a {
					padding-right: 4%;
				}
			}
		}
	}
	#events #events-list .development-item {
		width: calc(33% - 10px);
		&:nth-of-type(4n) {
			margin-right: 10px;
		}
		&:nth-of-type(3n) {
			margin-right: 0;
		}
	}
	#preuniversity-all .courses-item {
		@include col(1/3, $gutter: 1, $uncycle: 4, $cycle: 3);
	}
}
// Max width media query for 950px
@include media-q(950px, max) {
	#analytics-all #dev-ana .analytics,
	#analytics-category #dev-ana .analytics {
		.col-7,
		.col-5 {
			@include stack();
		}
	}
	#events-single .col-3-gutter.development-item {
		@include col(1/3, $gutter: 1, $cycle: 3, $uncycle: 4);
	}
	#about .left-side-c:before {
		right: 0;
	}
	#universities-all {
		.university-item {
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
		}
		.main-uni-info {
			width: 100%;
			padding-bottom: 0;
		}
		.button-container {
			padding: 10px;
			padding-right: 0;
		}
		.secondary-uni-info {
			width: 100%;
			padding: 10px;
			padding-top: 0;
			.info-item {
				border-left: none;
				&:first-child {border-top: 1px solid $main-color;}
			}
		}
	}
}
// Max width media query for 900px
@include media-q(900px, max) {
	#analytics-all #articles .articles-list {
		article {
			@include col(1/3, $gutter: 1, $cycle: 3, $uncycle: 4);
		}
	}
	#analytics-single #similar-articles .col-3-gutter {
		@include col(1/3, $gutter: 1, $cycle: 3, $uncycle: 4);
	}
	#courses-master {
		.right-side-c {
			margin-top: 20px;
			width: 100%;
			top: 0;
			-webkit-transform: translate(0);
			   -moz-transform: translate(0);
			    -ms-transform: translate(0);
			     -o-transform: translate(0);
			        transform: translate(0);
			position: relative;
		}
		.left-side-c {
			padding-right: 20px;
			padding-bottom: 20px;
			> .col-6 {
				@include cf();
				@include stack();
			}
		}
		.video-grid .video-wrapper {
			@include col(1/3, $gutter: 1, $uncycle: 4, $cycle: 3);
		}
	}
	#universities-single {
		.features-contact {
			width: 39.5%;	
		}
		.uni-bio {
			width: 59.5%;
		}
	}
	#single-courses {
		#primary {
			width: 64.5%;
		}
		#sidebar {
			width: 34.5%;
		}
		.video-grid .video-wrapper {
			width: 32.3%;
			float: left;
			margin-right: 1%;
		}
	}
	#additional {
		.courses-item {
			width: 49%;
		}
		#courses-list .col-12 > .col-6 {
			width: 100%;
			margin: 0 auto;
			float: none;
			clear: both;
			padding: 5px 0 10px 0;
		}
	}
	#partners {
		.partners-wrapper .partner {
			width: 31%;
			&:nth-of-type(4) {margin-top: 0;}
		}
		.small-left-side-c {
			p { width: 100%; }
			&:before { right: 0; }
		}
	}
	#university-advanced-ed .wrapper > .col-6-gutter {
		@include stack();
	}
	footer {
		.wrapper > .col-9 {
			width: 60%;
		}
		.wrapper > .col-3 {
			width: 40%;
		}
		.footer-col {
			width: 50%;
		}
		.lower-footer {
			.col-9 {
				width: 100%;
			}
			.col-3 {
				padding-top: 20px;
				width: 100%;
				.col-6:last-child {
					text-align: left;
					img {
						display: block;
					}
				}
			}
		}
	}
	header {
		.header-left {
			h4 br {
				display: none;
				&:nth-of-type(3) {
					display: block;
				}
			}
		}
	}
}
// Max width media query for 850px
@include media-q(850px, max) {
	#single-professions {
		#primary {
			width: 63%;
		}
		#sidebar {
			width: 35%;
		}
	}
	.company-item {
		width: calc(25% - 10px);
		padding-top: 146px;
		.company-info small {
			-webkit-line-clamp: 5;
		}
		&.special-company {
			width: calc(50% - 10px);
			padding-top: 300px;
		}
	}
}
// Max width media query for 800px
@include media-q(800px, max) {
	#single-professions {
		#articles article,
		.development-item,
		.video-wrapper {
			@include col(1/2, $gutter: 1, $cycle: 2, $uncycle: 3);
		}
	}
	#companies-single {
		.analytics .col-6-gutter {
			@include stack();
		}
		.uni-info {
			margin-bottom: 40px;
			img {
				margin-top: 20px;
				max-width: 400px;
			}
			.col-12 {
				padding-bottom: 100px;
				-webkit-flex-direction: column;
				    -ms-flex-direction: column;
				        flex-direction: column;
				.col-7,
				.col-5 {
					@include stack();
					padding: 10px 30px;
				}
			}
			.small-left-side-c {
				width: 80%;
				h4 {
					text-indent: 50%;
				}
				&:after {
					left: 0;
					transform: translate(0);
					background-position: 30% 100%;
				}
			}
		}
	}
	#courses-master {
		.video-grid .video-wrapper {
			@include col(1/2, $gutter: 1, $uncycle: 3, $cycle: 2);
		}
	}
	#partners {
		.partners-wrapper .partner {
			width: 48%;
			&:nth-of-type(3) {margin-top: 0;}
		}
	}
	#single-popup-profession {
		.description {
			margin: 1rem;
		}
	}
}
// Max width media query for 768px
@include media-q(p-tablet, max) {
	#master {
		&.showmodal {
			left: 0;
		}
		.col-4 {
			width: 50%;
			&:last-child {
				width: 100%;
				.custom-checkbox {
					width: calc(50% - 35px);
					&:nth-of-type(odd) {
						float: left;
					}
					&:nth-of-type(even) {
						float: right;
					}
				}
			}
		}
	}
	#course.course-body-video .main-area:after {
		background-size: 45vw;
		background-position: 109% 105.6%;
	}
	#companies-all-page .site-wrapper .order-by {
		span, a {
			display: block;
			margin-right: 0;
			margin-bottom: 10px;
		}
	}
	#single-professions {
		#professions-detailed .col-4 {
			@include col(1/2, $gutter: 1, $cycle: 2, $uncycle: 3);
		}
	}
	#companies-single {
		.analytics {
			@include stack();
			margin-bottom: 20px;
			.highlight:after {
				width: 100vw;
			}
		}
		.sidebar {
			@include stack();
			float: left;
		}
		.development-item,
		.video-wrapper {
			@include col(1/2, $gutter: 1, $cycle: 2, $uncycle: 3);
		}
		.uni-info {
			.small-left-side-c {
				width: 90%;
				h4 {
					text-indent: 25%;
				}
				&:after {
					background-position: 0% 100%;
				}
			}
		}
	}
	.video-grid .video-wrapper .video-container .certificate {
		font-size: 1.1rem;
		padding: 0 10px;
	}
	#profile {
		.video-grid .video-wrapper,
		.development-item {
			@include col(1/2, $gutter: 1, $cycle: 2, $uncycle: 3);
		}
		.left-side-c {
			.col-6,
			.col-5 {
				@include stack();
			}
			.profile-picture {
				width: 30%;
				padding-top: 30%;
			}
		}
	}
	#course {
		.left-sidebar {
			width: 100%;
			clear: both;
			float: none;
			@include cf();
		}
		.right-side-c {
			width: 100%;
			clear: both;
		}
		&.examination .right-side-c:after {
			background-size: 50vw auto;
			background-position: 80% 105.6%;
		}
	}
	#universities-single {
		.courses-item,
		.development-item {
			width: 49%;
		}
		.video-wrapper {
			@include col(1/2, $gutter:1, $uncycle:3, $cycle: 2);
		}
	}
	#single-courses {
		#primary {
			@include stack();
		}
		#sidebar {
			@include stack();
			.course-provided {
				float: right;
				width: 49%;
				.sidebar-title {
					z-index: 2;
				}
			}
			.course-teacher {
				float: left;
				width: 49%;
			}
		}
		.video-grid .video-wrapper {
			width: 49%;
			float: left;
			margin-right: 1%;
		}
	}
	#events #events-list {
		.sort-by,
		.search {
			width: 100%;
			float: none;
			clear: both;
			@include cf();
		}
		.development-item {
			@include col(1/2, $gutter: 1, $cycle: 2, $uncycle: 3);
		}
	}
	#about .left-side-c {
		padding-right: 0;
		padding-bottom: 12rem;
		&:before {
			background-size: 290px;
			background-position: 118.7% 105.2%;
		}
	}
	#professions .col-3 {
		@include col(.5, $gutter:0);
	}
	#professions-page {
		.col-12 .col-6 {
			width: 100%;
		}
	}
	.search {
		.search-bar {
			width: 100%;
			margin-bottom: 2rem;
		}
		i {
			top: calc(50% - .6rem);
		}
	}
	#home #dev-ana {
		.highlight {
			padding: 0 10px;
			&:before {
				z-index: 0;
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				width: 50vw;
				height: 100%;
				background-color: #293db9;
			}
		}
		.wrapper > .col-6:not(.sponsered-promo) {
			width: 100% !important;
			clear: both;
			float: none;
		}
		.trends:after {
			width: 100vw;
		}
	}
	#home #courses .video-grid .video-wrapper {
		@include col(.5, $cycle: 2);
	}
	header {
		.logo svg {
			height: auto;
			width: 66vw;
		}
		.header-left h4,
		.header-left a{
			font-size:1.2rem;
		}
		.header-right {
			h3 {
				font-size:1.6rem;
			}
			h5 {
				font-size:1.1rem;
			}
		}
	}
	#courses-all-page {
		.video-grid {
			margin-top: 2rem;
		}
		#last-added {
			.video-grid .video-wrapper {
				@include col(1/2, $gutter: 1, $cycle: 2, $uncycle: 3);
			}
		}
	}
	#login {
		.left-side-c:before {
			    background-position: 108.6% 96%;
			    background-size: 65vw auto;
	    	}
	}
	#register {
		.left-side-c:before {
			    background-position: 2% 98%;
			    background-size: 68vw auto;
			    left:0;

	    	}
	}
	#login, #register {
		.register {
			padding: 1rem 1rem 11rem 1rem;
			.col-6 {
				@include stack();
			}
			.fields, .name {
				padding-right: 0;
				border: none;
			}
			.social, .account {
				padding-right: 0;
				padding-left: 0;
				margin-top: 2rem;
			}
		}
	}
	#single-popup-profession {
		.description {
			margin: 1rem;
		}
	}

}
// Max width media query for 700px
@include media-q(700px, max) {
	#analytics-all #articles .articles-list {
		article {
			@include col(1/2, $gutter: 1, $cycle: 2, $uncycle: 3);
		}
	}
	#events-single .col-3-gutter.development-item {
		@include col(1/2, $gutter: 1, $cycle: 2, $uncycle: 3);
	}
	#welcome-page {
		.logo {
			margin: 0;
		}
		.col-12 {
			display: block;
			.col-6 {
				text-align: center;
				width: 100%;
				display: block;
				float: right;
				&:first-child{
					margin-bottom: 30px;
					&:after {
						content: none;
					}
				}
			}
		}
	}
}
// Max width media query for 670px
@include media-q(670px, max) {
	#analytics-single #similar-articles .col-3-gutter {
		@include col(1/2, $gutter: 1, $cycle: 2, $uncycle: 3);
	}
	#courses-all-page {
		.online,
		.video-grid,
		.col-6-gutter,
		.online > .col-6,
		#last-added .video-grid .video-wrapper {
			@include stack();
		}
	}
	#preuniversity-all .courses-item {
		@include col(1/2, $gutter: 1, $uncycle: 3, $cycle: 2);
	}
	#universities-all {
		.uni-meta {
			max-width: 100%;
			width: 100%;
			border-right: none;
			padding: 10px;
			margin-bottom: 10px;
			border-bottom: 1px solid $main-color;
			.stat {
				margin-top: 0;
			}
		}
		.button-container {
			width: 100%;
			padding: 0;
			padding-bottom: 10px;
		}
	}
	#single-professions {
		#primary ,
		#sidebar {
			@include stack();
			margin-bottom: 4rem;
		}
	}
	#professions-page {
		article {
			@include stack();
		}
	}
	#home {
		#sectors {
			width: 100%;
			clear: both;
			.col-4 {
				@include col(1, $gutter:0);
				height: 150px;
				padding-top: 0;
				.col-container{ 
					overflow: hidden;
					.sectors-svg { width: auto !important; }
				}
			}
			#uni-prep .sectors-svg {
				left: 98%;
				height: 127%;
			}
			#unis .sectors-svg {
				left: 90%;
				height: 120%;
			}
			#additional-ed .sectors-svg {
				left: 93.7%;
				height: 100%;
			}
			#online-courses .sectors-svg {
				left: 89%;
				height: 95%;
				bottom: -6px;
			}
			#analytics .sectors-svg {
				left: 87%;
				height: 110%;
			}
			#developments .sectors-svg {
				left: 91%;
				height: 120%;
			}
		}
		#popular {
			width: 100%;
			clear: both;
			ul a {
				width: 100%;
				clear: both;
				float: none;
			}
		}
	}
	h2 {
		font-size:3.0rem;
	}
	#events-single {
		#sidebar, #primary, .col-6-gutter, .col-3-gutter {
			@include stack();
		}
		.highlight {
			padding: 4%;
			&:after {
				width: 100%;
			}
		}
	}
	.company-item {
		width: calc(50% - 5px);
		&.special-company {
			width: 100%;
		}
	}
}
// Max width media query for 640px
@include media-q(640px, max) {
	#analytics-all {
		.col-6, .development {
			width: 100%;
		}
		.highlight:after {
			width: 100%;
		}
		.articles-list {
			.col-3 {
				width: 50%;
			}
		}
	}
	#single-courses {
		#primary .gained-list li,
		#sidebar .course-provided,
		#sidebar .course-teacher,
		.video-grid .video-wrapper {
			width: 100% !important;
			margin-left: 0;
			margin-right: 0;
			clear: both;
			float: none;
		}
	}
}
// Max width media query for 600px
@include media-q(l-mobile, max) {
	.video-grid .video-wrapper .video-container .certificate {
		font-size: 1.4rem;
		svg {
			width: 100%;
		}
	}
	#master {
		.col-4 {
			width: 100% !important;
			float: none !important;
			clear: both !important;
		}
		.custom-checkbox {
			width: 100% !important;
			float: none !important;
			clear: both !important;
		}
	}
	#universities-all {
		.number {
			border-right: none;
			width: 100%;
		}
		.uni-title {
			width: 100%;
		}
	}
	#single-professions {
		#articles article,
		.development-item,
		.video-wrapper,
		#professions-detailed .col-4 {
			@include stack();
			margin-bottom: 15px;
		}
		.col-5 {
			@include stack();
		}
	}
	#companies-single {
		.development-item,
		.video-wrapper {
			@include stack();
		}
	}
	#profile {
		.video-grid .video-wrapper,
		.development-item {
			@include stack();
		}
	}
	#courses-master {
		.video-grid .video-wrapper {
			@include stack();
		}
		.left-side-c .col-6 > .col-12 {
			margin-bottom: 20px;
		}
		.col-5 {
			@include stack();
			h4 {
				z-index: 0;
				&:before {
					z-index: -1;
					position: absolute;
					right: 0;
					width: 100vw;
					top: 0;
					height: 100%;
					content: "";
					background: $main-color;
				}
			}
		}
	}
	#universities-single {
		.courses-item,
		.development-item,
		.features-contact,
		.uni-bio,
		#professions .wrapper>.col-3,
		.video-wrapper {
			@include stack();
		}
	}
	#additional {
		.courses-item {
			width: 100%;
		}
	}
	#partners {
		.small-left-side-c {
			padding-right: 95px;
			&:before {
				right: -5vw;
			}
		}
		.partners-wrapper {
			&:before {
				right: -5vw;
			}
			.partner {
				width: 100%;
				height: 100px;
				&:nth-of-type(2) {margin-top: 0;}
			}
		}
	}
	header {
		.special {
			overflow: hidden;
			height: 100px;
			margin-bottom: 23px;
			img {
				position: absolute;
				left: 50%;
				-webkit-transform: translate(-50%);
				   -moz-transform: translate(-50%);
				    -ms-transform: translate(-50%);
				     -o-transform: translate(-50%);
				        transform: translate(-50%);
				top: 0;
				width: auto;
				height: 100%;
			}
		}
		.logo svg {
			min-width: 100%;
		}
		.header-left {
			width: 100%;
			clear: both;
			float: none;	
		}
		.header-right {
			width: 100%;
			clear: both;
			float: none;
			text-align: left;
		}
		.container:before {
			background-size: auto 40%;
		}
		.container .wrapper:before {
			background-size: auto 60%;
			background-position: 100% 100%;
		}
	}
	footer {
		margin-bottom: 50px;
		.wrapper > {
			.col-9 {
				width: 50%;
			}
			.col-3 {
				width: 50%;
			}
		}
		.col-3 {
			width: 50%;
		}
		.footer-col {
			float: none;
			clear: both;
			width: 100%;
			margin-bottom: 30px;
		}
		.lower-footer .col-9 {
			.col-5 {
				width: 100%;
			}
			> .col-6 {
				padding-top: 20px;
				width: 100%;
			}
		}
	}
	#home {
		#popular .item {
			width: 100%;
			float: none;
		}
		#sectors .col-4 .text-wrapper {
			width: 80%;
		}
		#courses .video-grid .video-wrapper {
			@include stack();
		}
		#university-advanced-ed {
			.col-6-gutter > .col-6-gutter {
				width: 100% !important;
				clear: both !important;
				float: none !important;
			}
			#university {
				h2 {
					margin-top: 0;
				}
				.scrollbar ul li .uni-content {
					width: 60%;
				}
			}
		}
		.company-wrapper {
			flex-wrap: wrap;
			.company-logo {
				padding-right: 0;
				padding-left: 10%;
				width: 50%;
				padding-bottom: 10px;
			}
		}
	}
	.partners-wrapper {
		flex-direction: column;
		.partner {
			height: 100px;
			width: calc(100% - 20px);
			.logo {
				width: 20%;
				text-align: center;
				img {
					width: auto;
				}
			}
			h5 {
				width: 65%;
			}
		}
	}
}
@include media-q(568px, max) {
	#analytics-all #articles .articles-list {
		article {
			@include stack();
		}
	}
	#analytics-all,
	#analytics-category {
		.articles-list {
			.col-3-gutter {
				width: 100%;
			}
		}
		#dev-ana {
			.analytics, .development  {
				width: 100%;
			}
			.highlight:after {
				width: 100vw;
			}
		}
	}
}
// Max width media query for 500px
@include media-q(500px, max) {
	#events-single .col-3-gutter.development-item {
		@include stack();
	}
	#preuniversity-all .courses-item {
		@include stack();
	}
	#companies-single .uni-info .small-left-side-c {
		h4 {
			text-indent: 10%;
		}
		&:after {
			background-position: 0% 100%;
			transform: translateX(-20%);
		}
	}
	#events #events-list .development-item {
		width: 100%;
		margin-right: auto !important;
	}
	#professions .wrapper > .col-3{
		@include stack(0 !important);
		padding-left: 30px;
		float: none !important;
		width: calc(100% - 30px) !important;
		margin: 0 auto !important;
	}
	#partners {
		.small-left-side-c {
			padding-right: 50px;
			padding-bottom: 80px;
		}
	}
}
// Max width media query for 480px
@include media-q(m-mobile, max) {
	#universities-all {
		.uni-title {
			display: block;
			.img-container {
				width: 100%;
				text-align: center;
			}
			.uni-name {
				text-align: center;
				width: 100%;
				padding-left: 0;
				margin-top: 10px;
			}
		}
	}
	#course.course-body-video .main-area:after {
		background-size: 65vw;
	}
	#analytics-single {
	.left-side-c {
		.caption-first {
		img  {
		max-width: 100%;
		}
		h5:before {
			height: 23%;
		}
	}
		.caption-second {
			img {
				max-width: 100%;
			}
			h5 {
				padding: 0;
			}
		}
	}
	#similar-articles {
		.col-3-gutter {
			width: 100%;
		}
	}
	}
	#about .left-side-c {
		padding-bottom: 14rem;
		p {
			width: 100%;
		}
		&:before {
			right: -5vw;
		}
	}
	footer {
		.wrapper > .col-9 {
			clear: both;
			float: none;
			width: 100%;
		}
		.wrapper > .col-3 {
			clear: both;
			float: none;
			width: 100%;
		}
	}
	#home {
		#sectors .col-4 {
			padding-top: 40%;
		}
		#popular {
			padding-top: 100%;
		}
		#dev-ana .col-6,
		#dev-ana #development .development-item, {
			width: 100%;
			margin-bottom: 10px;
		}
	}
}
// Max width media query for 400px
@include media-q(400px, max) {
	#professions .col-3 {
		width: 100%;
		clear: both;
		margin-bottom: 0 !important;
	}
	#professions .col-3:nth-of-type(8) {
		margin-bottom: 40px !important;
	}
	header .header-left h3 a {
		display: block;
	}
}
// Max width media query for 320px
@include media-q(320px, max) {
	#companies-single {
		.sidebar .sidebar-title {
			margin-left: 25px;
		}
		.uni-info .small-left-side-c {
			padding-left: 0;
		}
	}
	#single-courses #primary .left-side-c h2 {
		font-size: 2.5rem;
	}
}
