#login {
	.left-side-c:before {
		z-index: 1;
	    background-position: 108.6% 96%;
	    background-size: 33vw auto;
	    background-repeat: no-repeat;
	    background-image: url(/images/building-course.png);
	    content:'';
	    pointer-events: none;
	}
}
#register {
	.left-side-c:before {
		z-index: 1;
		background-position: -9% 95%;
		background-size: 33vw auto;
		background-repeat: no-repeat;
		background-image: url(/images/building-course.png);
		left:0;
		pointer-events: none;
	}
}
#login,
#register {
	.register {
		padding: 0 6rem 8rem 6rem;
		border-width: 1px 1px 20px 1px;
		border-style: solid;
		border-color: $main-color;
		background: #f9f8f6;
		width: 100%;
    	float: left;
    	.name,
    	.account {
    		padding: 0 4rem 0 0;
    		input {
				padding: 1.8rem 1rem;
				width: 100%;
				border:1px solid #161fe0;
				cursor: pointer;
			}
    	}
    	.account {
			button {
				width: 100%;
				letter-spacing: 0.1rem;
				padding: 1.8rem 1rem;
			}
    	}
		.signup {
			padding-left: 0;
			li {
				list-style: none;
				display: inline-block;
				color: #121111;
				&:first-child {
					margin-right: 4.6rem;
				}
				h3 > a {
					text-transform: none;
					text-decoration: underline;
					color: #121111;
					font-size: 20px;
					border-bottom: none;
					margin-top: 4.3rem;
	    			margin-bottom: 0;
					&:active, &:hover {
						border-bottom: none;
					}
				}
			}
		}
		.fields {
			border-right: 1px solid #161fe0;
			padding: 0 4rem 0 0;
			p:first-child {
				margin-top: 0;
			}
			p:last-child {
				margin-bottom: 0;
			}
			input {
				padding: 1.8rem 1rem;
				width: 100%;
				border:1px solid #161fe0;
				cursor: pointer;
			}
			button {
				width: 100%;
				letter-spacing: 0.4rem;
				padding: 1.8rem 1rem;
				margin-bottom: 0;
			}
		}
		.social {
			padding: 0 0 0 4rem;
			p:first-child,
			p:nth-child(2) {
				margin-top: 0;
			}
			button {
				width: 100%;
				padding: 1.5rem 1rem;
				text-transform: none;
				margin: 0 0 1.4rem 0;
				&.fb {
					background-color: #3b579d;
					position: relative;
					i {
						position: absolute;
					    left: 27px;
					    top: 9px;
					}
				}
				&.ln {
					position: relative;
					background-color: #0274b3;
					i {
						position: absolute;
					    left: 27px;
					    top: 2px;
					}
				}
			}
		}
	}
}
.logged-in {
	nav {
		.user-nav {
			display: none;
			@include cf();
			.profile-img {
				margin: 10vw 0 0 10%;
				width: 100%;
				height: 60px;
				max-width: 60px;
			}
			h3 {
				margin: 10vw 0 0 0;
				color: #FFF;
				width: calc(90% - 60px);
				text-align: left;
				float: left;
				padding-left: 10px;
			}
			ul {
				clear: both;
				margin: 0;
				padding-top: 10px;
				@include cf();
			}
			a {
				width: 50%;
				float: left;
				text-align: center;
				&:after {
					content: none;
				}
			}

		}
	}
	.user-area {
		text-align: right;
	}
	.profile-img {
		margin-right: 10px;
		margin-top: -3.7rem;
		float: left;
		width: 88px;
		height: 88px;
		background-size: cover;
		background-position: center;
		-webkit-border-radius: 100%;
		        border-radius: 100%;
	}
	.header-left {
		width: calc(100% - 220px);
	}
}
.desktop {
	
}
.mobile {
	
}
header {
	position: relative;
	background: #EFEFEF;
	.nav-button {
		position: fixed;
		-webkit-transition: all .3s .5s $nav-bezier;
		   -moz-transition: all .3s .5s $nav-bezier;
		    -ms-transition: all .3s .5s $nav-bezier;
		     -o-transition: all .3s .5s $nav-bezier;
		        transition: all .3s .5s $nav-bezier;
		top: 0;
		-webkit-box-shadow: 2px -1px 2px 0 rgba(0, 0, 0, 0.4), 0 0 0 1px rgba(0,0,0,0.08);
		        box-shadow: 2px -1px 2px 0 rgba(0, 0, 0, 0.4), 0 0 0 1px rgba(0,0,0,0.08);
		z-index: 10000;
		background: $main-color;
		height: 60px;
		width: 70px;
		padding-right: 5px;
		svg {
			cursor: pointer;
			transform: translate3d(0, 0, 0);
		}
		path {
			fill: none;
			transition: stroke-dashoffset .5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray .5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
			stroke-width: 40px;
			stroke-linecap: round;
			stroke: #FFF;
			stroke-dashoffset: 0px;
			&#top,
			&#bottom {
				stroke-dasharray: 240px 950px;
			}
			&#middle {
				stroke-dasharray: 240px 240px;
			}
		}
		&.cross svg {
			#top,
			#bottom {
				stroke-dashoffset: -650px;
				stroke-dashoffset: -650px;
			}
			#middle {
				stroke-dashoffset: -115px;
				stroke-dasharray: 1px 220px;
			}
		}
	}
	.header-left {
		float: left;
		width: calc(100% - 174px);
		h5 {
			margin: 8px 0 10px 0;
			text-transform: none;
		}
		h3 {
			margin-top: 5px;
			text-transform: none;
			a {
				font-size: 18px;
			}
		}
		.icon:before {
			font-size: 22px;
			line-height: 0px;
			font-weight: 700;
		}
	}
	.user-area {
		float: right;
		text-align: right;
		position: relative;
		z-index: 1;
		h3, h5 {
			margin: 0;
			text-transform: none;
		}

		
		> h3 {
			margin-top: -1.9rem;
		}
		a {
			text-decoration: underline;
		}
	}
	.logo {
		svg {height: 5.23rem;}
		margin-top: -2.3rem;
	}
	.special {
		width: 100%;
		margin: 0 auto;
		position: relative;
		img {
			width: 100%;
		}
		&:after {
			font-weight: bold;
			font-size: 3vw;
			color: $main-color;
			content: "Banner Placeholder";
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
	.container {
		width: 100%;
		background: #FFF;
		margin-top: 57px;
		position: relative;
		&:before {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			height: 100%;
			width: 50%;
			z-index: 0;
			background-image: url(/images/header-left.png);
			background-position: bottom left;
			background-size: auto 80%;
			background-repeat: no-repeat;
		}
		.wrapper {
			clear: both;
			position: relative;
			padding-bottom: 35px;
			&:before {
				content: "";
				display: block;
				position: absolute;
				bottom: 0;
				right: 0;
				height: 100%;
				width: 50%;
				z-index: 0;
				background-image: url(/images/header-right.png);
				background-position: calc(100% - 55px) 0;
				background-size: auto 100%;
				background-repeat: no-repeat;
			}
		}
		h4 {
			text-transform: none;
		}
	}
}
