$main-color: #1720e1;
$darkgray-color: #2d2d2f;
$easeInOutSine: cubic-bezier(0.445, 0.050, 0.550, 0.950);
$easeOutBack: cubic-bezier(0.250,-0.250, 0.750, 1.250);
$easing: easeOutBack;
$duration: .5s;
$dash-offset-cross: 0px;
$cross-length: 950px;
$nav-bezier: cubic-bezier(0.550, 0.085, 0.680, 0.530);