@import "../../compat.less";

@font-size-huge: 14pt;
@font-size-large: 12pt;
@font-size-normal: 11pt;

@background-color: #ffffff;
@text-color: #000000;
@text-font: Helvetica, Arial, sans-serif;
@action-color: #404040;
@label-color: #404040;

@input-border-color: transparent;
@input-background-color: #f8f8f8;
@input-placeholder-color: #b0b0b0;
@input-text-color: #000000;
@input-valid-background-color: #f0fff0 !important;
@input-error-background-color: #fff0f0 !important;

@input-border-color-focus: #d0d0d0;
@input-background-color-focus: #f0f0f0;
@input-valid-border-color-focus: #80ff80;
@input-error-border-color-focus: #ff8080;

@input-text-color-disabled: #e0e0e0;

@datalist-background-color: #ffffff;
@datalist-background-color-hover: #f0f0f0;

html, body {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-family: @text-font;
	font-size: @font-size-normal;
}

.action {
	text-decoration: none;
}

form .group {
	padding-top: 0.625rem;
	padding-bottom: 0.25rem;
}

form .group > label {
	margin-bottom: 0.375rem;
}

form .group > .field {
	border: none;
	padding-top: 0.125rem;
	padding-bottom: 0.125rem;
	float: left;
}

.control {
	display: block;
	box-sizing: border-box;

	font-family: @text-font;
	font-size: @font-size-normal;
	line-height: 150%;
}

label:extend(.control) {
	margin: 0 0 0.125rem 0.5rem;

	color: @label-color;
	font-weight: bold;
}

.field {
	padding-top: 0.5rem;
}

.field-body {
	display: flex;
	align-items: stretch;
}

.input-placeholder {
	color: @input-placeholder-color;
}

.input-placeholder-disabled {
	color: @input-text-color-disabled;
}

.input:extend(.control) {
	& {
		@placeholder-style: { .input-placeholder };

		.control;

		position: relative;
		width: 100%;

		margin: 0;
		border: 1px solid @input-border-color;
		background-color: @input-background-color;
		padding: 0.25rem 0.5rem;

		.placeholder(@placeholder-style);
	}

	.field-body > & {
		flex: 1 1 auto;
	}

	.field-body > & + .action {
		display: flex;
		align-items: center;
		box-sizing: border-box;
		min-height: 100%;
		flex: 0 0 auto;

		border-style: solid;
		border-width: 1px 1px 1px 0;
		border-color: @input-border-color;
		background-color: @input-background-color;
		padding: 0 0.625rem;

		color: @action-color;
		text-decoration: none;
	}

	&:hover, &:hover + .action,
	&:focus, &:focus + .action,
	.field-body:hover > &, .field-body:hover > & + .action {
		outline: none;
		border-color: @input-border-color-focus;
		background-color: @input-background-color-focus;
		z-index: 1500;
	}

	&.valid {
		&, & + a.action {
			background-color: @input-valid-background-color;
		}

		&:hover, &:hover + .action,
		&:focus, &:focus + .action,
		.field-body:hover > &, .field-body:hover > & + .action {
			border-color: @input-valid-border-color-focus !important;
			background-color: @input-valid-background-color !important;
		}
	}

	&.error {
		&, & + a.action {
			background-color: @input-error-background-color;
		}

		&:hover, &:hover + .action,
		&:focus, &:focus + .action,
		.field-body:hover > &, .field-body:hover > & + .action {
			border-color: @input-error-border-color-focus !important;
			background-color: @input-error-background-color !important;
		}
	}

	&[disabled] {
		@placeholder-style: { .input-placeholder-disabled };
		.placeholder(@placeholder-style);
	}

	form.disabled & {
		&, &.valid, &.error {
			&, &:hover, &:focus {
				&, & + .action {
					cursor: default;
					border-color: white !important;
					background-color: white !important;
				}
			}
		}
		& + .action {
			visibility: hidden;
		}
	}
}

input.text:extend(.input all) {
}

input.text::-webkit-contacts-auto-fill-button {
	visibility: hidden;
	display: none !important;
	pointer-events: none;
}

input.text[size] {
	width: auto;
}
input.text[disabled] {
	background-color: white;
}

input.text.phone {
	width: 9.75em !important;
}

input.text.phone_ext {
	width: 3.5em !important;
}

input.text.email {
	width: calc(14.75em + 2px) !important;
}

.datalist {
	position: absolute;
	display: none;
	border: 1px solid @input-border-color-focus;
	background-color: @datalist-background-color;
	line-height: 150%;
	overflow-x: hidden;
	padding: 0.125rem 0;
	box-sizing: border-box;
	z-index: 10000;
}

.datalist > div {
	padding: 0.125rem 0.5rem;
	cursor: default;
	user-select: none;
}

.datalist > div.error {
	text-align: center;
	color: #808080;
	font-style: italic;
}

.datalist > div:hover,
.datalist > div.selected {
	background-color: @datalist-background-color-hover;
}

.datalist > div.error:hover {
	background-color: @datalist-background-color;
}

textarea:extend(.input all) {
	resize: none;
	height: 2rem;
	min-height: 2rem;
}

input[type=checkbox] {
	margin: 0.25rem 0.25rem 0.25rem 0.75rem;
}

input[type=checkbox] ~ label {
	display: inline-block;
	margin-left: 0;
}

.field .error-text {
	color: #ff0000;
	font-size: 10pt;
	margin: 0.25rem 0.5rem;
	font-weight: bold;
}
.field .error-text:empty {
	display: none;
}
.field .error-text > i {
	margin-right: 0.5em;
}
