@font-face {
    font-family: 'gilroy';
    src: url('/fonts/gilroy-extrabold.woff2') format('woff2'),
         url('/fonts/gilroy-extrabold.otf') format('opentype'),
         url('/fonts/gilroy-extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'gilroy';
    src: url('/fonts/gilroy-light.woff2') format('woff2'),
         url('/fonts/gilroy-light.otf') format('opentype'),
         url('/fonts/gilroy-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@include font-face(icon-set, "/fonts/icon-set", null, null, eot woff svg tff);
