<script>
	module.exports = {
		name: 'v-settings-language-details',

		require: [
			'v-page'
		],

		actions: [
			{
				label: 'Сохранить',
				icon: 'check',
			}, {
				label: 'Закрыть',
				icon: 'times'
			}
		],

		fields: {
			name: {
				name: 'name',
				label: 'Название',
				class: 'col-xs-9',
				required: true,
				placeholder: 'Не указано'
			},

			priority: {
				name: 'priority',
				label: 'Приоритет',
				class: 'col-xs-3',
				pattern: '^\\d{5}$',
				placeholder: '#####',
				maxLength: 5,

				constraints: {
					numeral: true,
					numeralIntegerScale: 5,
					numeralDecimalScale: 0,
					numeralPositiveOnly: true,
					delimiter: "",
					stripLeadingZeroes: false
				}
			},

			isoAlpha2: {
				name: 'isoAlpha2',
				label: '2-буквенный код ISO',
				class: 'col-xs-6',
				required: true,
				pattern: '^[a-zA-Z]{2}$',
				placeholder: 'XX',
				maxLength: 2,

				constraints: {
					blocks: [2],
					uppercase: true
				}
			},

			isoAlpha3: {
				name: 'isoAlpha3',
				label: '3-буквенный код ISO',
				class: 'col-xs-6',
				required: true,
				pattern: '^[a-zA-Z]{3}$',
				placeholder: 'XXX',
				maxLength: 3,

				constraints: {
					"blocks": [3],
					"uppercase": true
				}
			}
		}
	};
</script>
<template>
	<v-page class="leaf" v-bind:actions="$options.actions">
		<v-form class="container-fluid">
			<div class="row">
				<v-input v-bind="$options.fields.name"></v-input>
				<v-input v-bind="$options.fields.priority"></v-input>
			</div>
			<div class="row">
				<v-input v-bind="$options.fields.isoAlpha2"></v-input>
				<v-input v-bind="$options.fields.isoAlpha3"></v-input>
			</div>
		</v-form>
	</v-page>
</template>
