<script>
	module.exports = {
		name: 'v-content',

		require: [
			'v-page'
		],

		children: [
			{ link: '/content/articles' },
			{ link: '/content/comments' },
			{ link: '/content/categories' }
		]
	}
</script>
<template>
	<v-page class="navigation">
		<v-action-list
				v-bind:items="$options.children">
		</v-action-list>
	</v-page>
</template>
