.SumoSelect {
	p {
		margin: 0;
	}
	width: auto;
}

.SelectBox {
	padding: 5px 8px;
}

.sumoStopScroll {
	overflow: hidden;
}

/* Filtering style */

.SumoSelect {
	.hidden {
		display: none;
	}
	.search-txt {
		display: none;
		outline: none;
	}
	.no-match {
		display: none;
		padding: 6px;
	}
	&.open {
		.search-txt {
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			margin: 0;
			padding: 2px 8px;
			border: none;
			border-bottom: #444 1px solid;
			font-size: 1.4rem;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			color: #444;
		}
		> .search > {
			span, label {
				visibility: hidden;
			}
		}
		>.CaptionCont>label>i {
			-webkit-transform: rotate(-135deg);
			   -moz-transform: rotate(-135deg);
			    -ms-transform: rotate(-135deg);
			     -o-transform: rotate(-135deg);
			        transform: rotate(-135deg);
		}

	}
	&:hover {
		>.CaptionCont>span {
			color: $main-color;
			border-bottom: 1px solid $main-color;
		}
		>.CaptionCont>label>i {
			border-color: $main-color;
		}
	}
}

/*this is applied on that hidden select. DO NOT USE display:none; or visiblity:hidden; and Do not override any of these properties. */
.SelectClass, .SumoUnder {
	position: absolute !important;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	border: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity = 0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
}

.SelectClass {
	z-index: 1;
}

.SumoSelect {
	> {
		.optWrapper > .options li.opt label, .CaptionCont {
			user-select: none;
			-o-user-select: none;
			-moz-user-select: none;
			-khtml-user-select: none;
			-webkit-user-select: none;
		}
	}
	.select-all > label {
		user-select: none;
		-o-user-select: none;
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
	}
	display: block;
	float: left;
	position: relative;
	outline: none;
	&.open {
		> .optWrapper {
			opacity: 1;
			pointer-events: auto;
			transform: scale(1) translateY(0);
			&.up {
				top: auto;
				bottom: 100%;
				margin-bottom: 5px;
			}
		}
	}
	> {
		.CaptionCont {
			position: relative;
			min-height: 14px;
			background-color: #fff;
			margin: 0;
			> {
				span {
					border-bottom: 1px solid #19191b;
					color: #19191b;
					display: block;
					margin-right: 20px;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					cursor: default;
					&.placeholder {
						color: #ccc;
						font-style: italic;
					}
				}
				label {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					width: 30px;
					> i {
						border-bottom: 2px solid #999;
						border-right: 2px solid #999;
						content: '';
						display: block;
						height: 8px;
						margin-top: -4px;
						pointer-events: none;
						position: absolute;
						right: 12px;
						top: 50%;
						transform-origin: 66% 66%;
						transform: rotate(45deg);
						transition: all 0.15s ease-in-out;
						width: 8px;
					}
				}
			}
		}
		.optWrapper {
			background-color: #fff;
			box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
			box-sizing: border-box;
			margin-top: 4px;
			opacity: 0;
			overflow: hidden;
			padding: 0;
			pointer-events: none;
			position: absolute;
			top: 30px;
			left: 0;
			transform-origin: 50% 0;
			transform: scale(0.75) translateY(-21px);
			transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
			z-index: 9;
		}
	}
	> .optWrapper {
		ul {
			list-style: none;
			display: block;
			padding: 0;
			margin: 0;
			overflow: auto;
		}
		> .options {
			position: relative;
			/*Set the height of pop up here (only for desktop mode)*/
			max-height: 250px;
			/*height*/
		}
		&.selall {
		}
		> .options li {
			&.group.disabled > label {
				opacity: 0.5;
			}
			ul li.opt {
				padding-left: 22px;
			}
		}
		&.multiple > .options li ul li.opt {
			padding-left: 50px;
		}
		&.isFloating > .options {
			max-height: 100%;
			box-shadow: 0 0 100px #595959;
		}
		> .options {
			li.opt {
				padding: 6px 10px;
				position: relative;
				border-bottom: 1px solid #f5f5f5;
			}
		}
		> .options > li.opt:last-child {
			border-bottom: none;
		}
		> .options li.opt {
			&:hover {
				background-color: #E4E4E4;
			}
			&.sel {
				background-color: #a1c0e4;
			}
		}
	}
	.select-all {
		&.sel {
			background-color: #a1c0e4;
		}
		> span {
			position: absolute;
			display: block;
			width: 30px;
			top: 0;
			bottom: 0;
			margin-left: -35px;
		}
		> span i {
			position: absolute;
			margin: auto;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			width: 14px;
			height: 14px;
			box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
			background-color: #fff;
		}
		&.selected > span i, &.partial > span i {
			background-color: $main-color;
			box-shadow: none;
			border-color: transparent;
			background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAGCAYAAAD+Bd/7AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAABMSURBVAiZfc0xDkAAFIPhd2Kr1WRjcAExuIgzGUTIZ/AkImjSofnbNBAfHvzAHjOKNzhiQ42IDFXCDivaaxAJd0xYshT3QqBxqnxeHvhunpu23xnmAAAAAElFTkSuQmCC');
			background-repeat: no-repeat;
			background-position: center center;
		}
	}
	> .optWrapper {
		> .options li {
			label {
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				display: block;
				cursor: pointer;
			}
			span {
				display: none;
			}
			&.group > label {
				cursor: default;
				padding: 8px 6px;
				font-weight: bold;
			}
		}
		&.isFloating {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			width: 90%;
			bottom: 0;
			margin: auto;
			max-height: 90%;
		}
		> .options li.opt.disabled {
			background-color: inherit;
			pointer-events: none;
			* {
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
				/* IE 5-7 */
				filter: alpha(opacity = 50);
				/* Netscape */
				-moz-opacity: 0.5;
				/* Safari 1.x */
				-khtml-opacity: 0.5;
				/* Good browsers */
				opacity: 0.5;
			}
		}
		&.multiple > .options li.opt {
			padding-left: 35px;
			cursor: pointer;
			span {
				position: absolute;
				display: block;
				width: 30px;
				top: 0;
				bottom: 0;
				margin-left: -35px;
			}
		}
	}
	> .optWrapper.multiple > .options li.opt span i {
		position: absolute;
		margin: auto;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 14px;
		height: 14px;
		box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
		background-color: #fff;
	}
	> .optWrapper {
		> .MultiControls {
			display: none;
			border-top: 1px solid #ddd;
			background-color: #fff;
			box-shadow: 0 0 2px rgba(0, 0, 0, 0.13);
		}
		&.multiple {
			min-width: 110px;
			&.isFloating > .MultiControls {
				display: block;
				margin-top: 5px;
				position: absolute;
				bottom: 0;
				width: 100%;
			}
			&.okCancelInMulti > .MultiControls {
				display: block;
				> p {
					padding: 6px;
					&:focus {
						box-shadow: 0 0 2px #a1c0e4;
						border-color: #a1c0e4;
						outline: none;
						background-color: #a1c0e4;
					}
				}
			}
			> .MultiControls > p {
				display: inline-block;
				cursor: pointer;
				padding: 12px;
				width: 50%;
				box-sizing: border-box;
				text-align: center;
				&:hover {
					background-color: #f1f1f1;
				}
				&.btnOk {
					border-right: 1px solid #DBDBDB;
				}
			}
		}
		&.isFloating > .options li.opt {
			padding: 12px 6px;
		}
		&.multiple {
			&.isFloating {
				> .options li.opt {
					padding-left: 35px;
				}
				padding-bottom: 43px;
			}
			> .options li.opt.selected span i {
				background-color: $main-color;
				box-shadow: none;
				border-color: transparent;
				background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAGCAYAAAD+Bd/7AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAABMSURBVAiZfc0xDkAAFIPhd2Kr1WRjcAExuIgzGUTIZ/AkImjSofnbNBAfHvzAHjOKNzhiQ42IDFXCDivaaxAJd0xYshT3QqBxqnxeHvhunpu23xnmAAAAAElFTkSuQmCC');
				background-repeat: no-repeat;
				background-position: center center;
			}
		}
	}
	&.disabled {
		opacity: 0.7;
		cursor: not-allowed;
		> .CaptionCont {
			border-color: #ccc;
			box-shadow: none;
		}
	}
	.select-all {
		position: relative;
		border-bottom: 1px solid #ddd;
		background-color: #fff;
		padding: 5px 0 5px 35px;
		cursor: pointer;
		> {
			label, span i {
				cursor: pointer;
			}
		}
		&.partial > span i {
			background-color: #ccc;
		}
	}
	> .optWrapper > .options li.optGroup {
		padding-left: 5px;
		text-decoration: underline;
	}
}