<script>
	module.exports = {
		name: 'x-splitter',

		props: {
			vertical: {
				type: Boolean,
				default: false
			},
			reverse: {
				type: Boolean,
				default: false
			},
			initial: {
				required: true
			}
		},

		computed: {
			controlClass: function() {
				return [
					this.vertical ? 'vertical' : 'horizontal',
					this.reverse ? 'reverse' : 'normal'
				];
			},

			positionEx: function() {
				return isNaN(this.position) ? this.position : this.position + 'px';
			},

			auxSize: function () {
				return this.vertical ?
					{ height: this.positionEx } :
					{ width:  this.positionEx };
			}
		},

		data: function() {
			return {
				position: this.initial
			}
		},

		methods: {
			elementSize: function(element) {
				return this.vertical ? element.clientHeight : element.clientWidth;
			},

			mousePosition: function(event) {
				return this.vertical ? event.clientY : event.clientX;
			},

			onMouseDown: function(event) {
				this.startPos  = this.mousePosition(event);
				this.startSize = this.elementSize(this.$refs.aux);

				let root = this.$root.$el;

				root.addEventListener('mousemove', this.onMouseMove);
				root.addEventListener('mouseup', this.onMouseUp);
				root.addEventListener('selectstart', this.onSelectStart);
			},

			onMouseMove: function(event) {
				let offset = this.mousePosition(event) - this.startPos;

				if (this.reverse)
					this.position = this.startSize + offset;
				else
					this.position = this.startSize - offset;
			},

			onMouseUp: function(event) {
				event.stopPropagation();
				event.preventDefault();

				let root = this.$root.$el;

				root.removeEventListener('mousemove', this.onMouseMove);
				root.removeEventListener('mouseup', this.onMouseUp);
				root.removeEventListener('selectstart', this.onSelectStart);
			},

			onSelectStart: function(event) {
				event.stopPropagation();
				event.preventDefault();
			}
		}
	};
</script>
<style>
	.splitter {
		display: flex;
		flex: 1 1 auto;
	}

	.splitter.horizontal.normal {
		flex-direction: row;
	}

	.splitter.horizontal.reverse {
		flex-direction: row-reverse;
	}

	.splitter.vertical.normal {
		flex-direction: column;
	}

	.splitter.vertical.reverse {
		flex-direction: column-reverse;
	}

	.splitter > .main,
	.splitter > .aux {
		overflow: hidden;
	}

	.splitter > .main {
		flex: 1 1 auto;
	}

	.splitter > .aux {
		flex: 0 0 auto;
	}

	.splitter > .handle {
		display: flex;
		flex: 0 0 0.5em;
		align-items: center;
		justify-content: center;
		background-color: var(--background-color);
		color: var(--foreground-color);
		font-size: var(--font-size);
	}

	.splitter.horizontal > .handle {
		flex-direction: column;
		border-left: 1px solid var(--border-color);
		border-right: 1px solid var(--border-color);
		cursor: col-resize;
	}

	.splitter.vertical > .handle {
		flex-direction: row;
		border-top: 1px solid var(--border-color);
		border-bottom: 1px solid var(--border-color);
		cursor: row-resize;
	}
</style>
<template>
	<div class="control splitter" v-bind:class="controlClass">
		<div class="layout main" ref="main">
			<slot name="main"></slot>
		</div>
		<div class="handle" v-on:mousedown.stop="onMouseDown">
			<x-icon icon="ellipsis-v" v-bind:rotate="vertical ? 90 : null"></x-icon>
		</div>
		<div class="layout aux" ref="aux" v-bind:style="auxSize">
			<slot name="aux"></slot>
		</div>
	</div>
</template>
