<script>
	module.exports = {
		name: 'x-status',

		props: {
			type: {
				type: String,
				default: 'info'
			},
			message: {
				type: String,
				required: true
			},
			visible: {
				type: Boolean,
				default: true
			}
		},

		computed: {
			icon: function () {
				return this.$options.typeIcons[this.type];
			}
		},

		data: function() {
			return {
				state: this.visible
			}
		},

		methods: {
			onClose: function() {
				this.state = false;
			}
		},

		typeIcons: {
			error: 'times-circle',
			warning: 'exclamation-triangle',
			info: 'info-circle',
			success: 'check-circle'
		}
	}
</script>
<style>
	.status {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		border-bottom: 1px solid var(--border-color);
		padding: 0.375em 0;
	}

	.status.error {
		background-color: var(--error-background-color);
		color: var(--error-foreground-color);
	}

	.status.warning {
		background-color: var(--warning-background-color);
		color: var(--warning-foreground-color);
	}

	.status.info {
		background-color: var(--info-background-color);
		color: var(--info-foreground-color);
	}

	.status.success {
		background-color: var(--success-background-color);
		color: var(--success-foreground-color);
	}

	.status > .icon,
	.status > .toggle {
		flex: 0 0 auto;
		display: inline-block;
		text-align: center;
	}

	.status > .icon {
		margin-left: 0.5em;
	}

	.status > .info {
		flex: 1 1 auto;
		display: inline-block;
		margin-left: 0.375em;
		margin-right: 0.375em;
	}

	.status > .toggle {
		margin-right: 0.5em;
	}

	.status > .info > .message {
		font-weight: var(--message-font-weight);
	}

	.status > .info > .description {
		margin-top: 0.375em;
	}

	.status > .info > .description:empty {
		display: none;
	}
</style>
<template>
	<div class="control status" v-show="state" v-bind:class="type">
		<span class="icon"><x-icon v-bind:icon="icon"></x-icon></span>
		<div class="info">
			<div class="message text">{{ message }}</div>
			<div class="description text">
				<slot></slot>
			</div>
		</div>
		<a href="#" class="toggle" v-on:click.stop="onClose"><x-icon icon="times-square"></x-icon></a>
	</div>
</template>
