.calc(@prop; @val) {
	@{prop}: calc(~'@{val}');
	@{prop}: -moz-calc(~'@{val}');
	@{prop}: -webkit-calc(~'@{val}');
	@{prop}: -o-calc(~'@{val}');
}

.user-select(@value) {
	-moz-user-select: @value;
	-webkit-user-select: @value;
	-ms-user-select: @value;
	user-select: @value;
}

.placeholder(@styles) {
	&::-webkit-input-placeholder {
		@styles();
	}
	&::-moz-placeholder {
		@styles();
	}
	&:-moz-placeholder {
		@styles();
	}
	&:-ms-input-placeholder {
		@styles();
	}
}
